{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{title}}</h1>

        <p>Cette page énumère les stations auxquelles les relevés sont réalisés au sein du système.</p>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>AKWA</th>
                    <th>Bassin</th>
                    <th>Genre</th>
                    <th>Relevés</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {# Lister les stations #}
                {% for station in stations %}
                    <tr>
                        <td>{{station.code}}</td>
                        <td>{{station.name}}</td>
                        <td>{{station.atlasCode}}</td>
                        <td>{{station.basin.name}}</td>
                        <td>{{station.kind.name|default}}</td>
                        <td>
                            {% if station.readings|length %}
                                <span class="badge badge-primary badge-pill">
                                    {{station.readings|length}}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{path('system_station_update', {'code': station.code})}}"><i class="fas fa-edit text-primary"></i></a>
                            <a href="{{path('system_station_delete', {'code': station.code})}}"><i class="fas fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <td colspan="100"><em>Le système ne comporte pas de station.</em></td>
                {% endfor %}
            </tbody>
        </table>

        <div class="mb-3">
            {# Bouton permettant d'ajouter une station #}
            <a href="{{path('system_station_create', {'code': system.code})}}" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                Ajouter une station
            </a>
            {# Bouton permettant de revenir à la page précédente #}
            {{breadcrumbs.displayBackButton}}
        </div>
    </div>
{% endblock %}
