{# Ce template définit une base commune pour les formulaires de création et de
modification d'un type de station #}

{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet de définir un type de station.</p>

        {{form_start(form)}}

        <div class="alert bg-light">
            <div class="row">
                <div class="col">
                    {{form_row(form.name)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_row(form.description)}}
                </div>
            </div>
        </div>

        <div class="mb-3">
            {# Bouton permettant d'enregistrer le type de station #}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                Enregistrer le type de station
            </button>
            {# Bouton permettant de revenir à la page précédente #}
            {{breadcrumbs.displayBackButton}}
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}
