{% extends 'base.html.twig' %}

{% block title %}
    Types de station
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Types de stations</h1>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Dénomination</th>
                    <th>Stations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stationKind in stationKinds|sort((a, b) => (a.name <=> b.name)) %}
                    <tr>
                        <td>
                            {{stationKind.name}}
                        </td>
                        <td>
                            {% if stationKind.stations|length %}
                                <span class="badge badge-primary badge-pill">
                                        {{stationKind.stations|length}}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{path('station_kind_modify', {'id': stationKind.id})}}" class="text-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{path('station_kind_delete', {'id': stationKind.id})}}" class="text-danger" data-action="delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100">Il n'y a pas de type de station.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{path('station_kind_create')}}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Ajouter un type de station
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        /* Programme une demande de confirmation chaque fois que l'on clique
        sur un bouton de suppression de type */
        $('a[data-action="delete"]').click(function() {
            return confirm("Etes-vous sûr de vouloir supprimer ce type de station ?");
        });
    </script>
{% endblock %}
