{% extends 'base.html.twig' %}

{% block title %}
    {# Titre de l'article de tête #}
    {{posts[0].title|default('Accueil')}}
{% endblock %}

{% block body %}
    <div class="container mb-3">

        {# Contenu brut de l'article de tête #}
        {% if posts[0] is defined %}
            {{posts[0].content|raw}}
        {% else %}
            <h1>Bienvenue sur Epu-Karst&nbsp;!</h1>
            <p><em>Le logiciel Epu-Karst est installé. Commencez par créer un article pour la page d'accueil.</em></p>
        {% endif %}

        {# Appels à consulter les autres articles #}
        <div class="row no-gutters" style="background-color: black; color: white">
            {# Tous les articles sauf le premier #}
            {% for post in posts[1:] %}
                <div class="col" style="margin: 15px">
                    {# Titre #}
                    <h2>{{post.title}}</h2>
                    {# Résumé #}
                    {% if post.summary %}
                        <p>{{post.summary}}</p>
                    {% endif %}
                    {# Lien vers la page #}
                    {% if post.slug is not null %}
                        <a href="{{path('home_post', {'slug': post.slug})}}" class="btn btn-primary">En savoir plus</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
