{% extends 'base.html.twig' %}

{% block title %}
    Alarmes
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Alarmes</h1>

        <p>Les alarmes signalent de possibles pollutions. Elles sont créées automatiquement en cas de dépassement des normes mais peuvent aussi être créées manuellement.</p>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Signalement</th>
                    <th>Système</th>
                    <th>Type</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Etat</th>
                    <th>Auteur</th>
                    <th class="text-center">Fiches /<br>Mesures</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for alarm in pagination.data %}
                    <tr>
                        <td>
                            {{alarm.reportingDate|localizeddate('short', 'none')}}
                        </td>
                        <td>
                            {{alarm.system.name}}
                        </td>
                        <td>
                            {{alarm.kind.name|default}}
                        </td>
                        <td>
                            {% if alarm.beginningDate %}
                                {{alarm.beginningDate|localizeddate('short', 'none')}}
                            {% endif %}
                        </td>
                        <td>
                            {% if alarm.endingDate %}
                                {{alarm.endingDate|localizeddate('short', 'none')}}
                            {% endif %}
                        </td>
                        <td>
                            {% if alarm.endingDate is null or alarm.endingDate > date() %}
                                <span class="badge badge-warning">En cours</span>
                            {% else %}
                                <span class="badge badge-success">Terminé</span>
                            {% endif %}
                        </td>
                        <td>
                            {{alarm.reportingAuthor.displayName}}
                        </td>
                        <td class="text-center">
                            {% if alarm.systemReadings|length %}
                                <span class="badge badge-warning badge-pill">
                                    {{alarm.systemReadings|length}}
                                </span>
                            {% endif %}
                            /
                            {% if alarm.measures|length %}
                                <span class="badge badge-warning badge-pill">
                                    {{alarm.measures|length}}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{path('alarm_show', {'id': alarm.id})}}" class="text-primary"><i class="fas fa-eye"></i></a>
                            {% if is_granted('SYSTEM_CONTRIBUTOR', alarm) %}
                                <a href="{{path('alarm_edit', {'id': alarm.id})}}" class="text-primary"><i class="fas fa-edit"></i></a>
                                <a href="{{path('alarm_delete', {'id': alarm.id})}}" class="text-danger"><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100"><em>Il n'y a pas d'alarmes.</em></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Navigateur de pagination #}
        {{pagination.display}}

        <a href="{{path('alarm_new')}}" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Créer une alarme
        </a>
    </div>
{% endblock %}
