<h1>Votre mot de passe Epu-Karst a été changé</h1>

<p>Bonjour {{user.displayName}},</p>

{% if user is same as(host) %}
<p>Votre mot de passe vient d'être changé dans le programme Epu-Karst.</p>
{% else %}
<p>{{host.displayName}} vient de changer votre mot de passe dans le programme Epu-Karst.</p>
{% endif %}

{% if password is not null %}
<p>Le nouveau mot de passe est: <strong>{{password}}</strong>.</p>
<p>Par souci de sécurité, nous vous demandons de le mémoriser dans un endroit sûr et de supprimer cet e-mail.</p>
{% endif %}

<p>Si vous n'êtes pas à l'origine du changement, merci de nous contacter le plus rapidement possible pour remédier au problème.</p>

<p><a href="{{url('home')}}">Cliquez ici pour accéder à l'application</a></p>

<p>Cordialement,<br>
{{mailerName}}</p>