<h1>Bienvenue dans le programme Epu-Karst !</h1>

<p>Bonjour {{user.displayName}},</p>

<p>Un compte d'utilisateur vient d'être créé pour vous dans le programme Epu-Karst, avec les identifiants suivants&nbsp;:</p>
<ul>
    <li>Adresse e-mail&nbsp;: <strong>{{user.email}}</strong></li>
    <li>Mot de passe&nbsp;: <strong>{{password}}</strong></li>
</ul>

<p>Par souci de sécurité, nous vous demandons de stocker ce mot de passe dans un endroit sûr et de supprimer cet e-mail.</p>

<p><a href="{{url('home')}}">Cliquez ici pour accéder à l'application</a></p>

<p>Cordialement,<br>
{{host.displayName}}</p>