{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        {{form_start(form)}}

        <div class="alert alert-danger">
            Cette opération est irréversible.
            <br>
            Etes-vous certain de vouloir supprimer ce relevé du <strong>{{reading.fieldDateTime|date('d/m/Y')}}</strong> relatif à la station <strong>{{reading.station}}</strong>&nbsp;?
            {% if reading.validated %}
                <br>
                <strong>Attention, ce relevé est validé&nbsp;!</strong>
            {% endif %}
        </div>

        {# Ajouter un bouton pour confirmer la suppression #}
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Supprimer le relevé
        </button>

        {# Ajouter un bouton pour revenir au relevé #}
        <a href="{{path('reading_show', {'code': reading.code})}}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Revenir au relevé
        </a>

        {{form_end(form)}}
    </div>
{% endblock %}
