{# Ce template définit une base commune pour les formulaires d'encodage et
de modification d'un relevé #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet d'introduire les données prises sur le terrain à une station d'observation déterminée.</p>

        {{form_start(form)}}
        
        {# Mettre en forme les informations générales #}
        <div class="alert bg-light">
            <div class="row">
                <div class="col-3">
                    {{form_row(form.fieldDateTime)}}
                </div>
                <div class="col">
                    {{form_row(form.station)}}
                </div>
                <div class="col-3">
                    {{form_row(form.code)}}
                </div>
            </div>
        </div>

        {# Mettre en forme les mesures #}
        {{form_row(form.measures)}}

        <h2>Commentaires</h2>
        <p>Les remarques ci-dessous permettent de donner des informations textuelles complémentaires afin d'expliquer les circonstances des mesures.</p>

        {% if encoding|default(true) %}
            <div class="alert bg-light">
                <div class="row">
                    <div class="col-3">
                        {{form_row(form.encodingDateTime)}}
                        {{form_row(form.encodingAuthor)}}
                    </div>
                    <div class="col">
                        {{form_row(form.encodingNotes)}}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if validation|default(false) %}
            <div class="alert bg-light">
                <div class="row">
                    <div class="col-3">
                        {{form_row(form.validationDateTime)}}
                        {{form_row(form.validationAuthor)}}
                    </div>
                    <div class="col">
                        {{form_row(form.validationNotes)}}
                        {{form_row(form.validated)}}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Bouton permettant d'enregistrer le relevé #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le relevé
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {{breadcrumbs.displayBackButton}}

        {{form_end(form)}}
    </div>
{% endblock %}


{% block _reading_measures_label %}
    <h2>{{form_label(form)}}</h2>
{% endblock %}

{% block _reading_measures_widget %}
    <p>Pour chaque paramètre ayant été mesuré, introduisez l'instrument utilisé, les valeurs mesurées des paramètres, les indications quant à la stabilité à la validité de ces valeurs, et les remarques éventuelles.</p>

    {# Widget du sous-formulaire #}
    {{form_widget(form)}}

    {# Bouton permettant d'ajouter une mesure #}
    <button type="button" data-action="add-measure" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter une mesure
    </button>
{% endblock %}

{% block _reading_measures_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _reading_measures_entry_widget %}
    <div class="alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col-6">
                {# Paramètre et instrument #}
                {{form_row(form.measurability)}}
                {# Remarques #}
                {{form_row(form.notes)}}
                {# Alarme #}
                {{form_row(form.alarm)}}
            </div>
            <div class="col">
                {# Date et heure de terrain #}
                {{form_row(form.fieldDateTime)}}
                {# Valeur #}
                {{form_row(form.value)}}
                {# Stabilité #}
                {{form_row(form.stable)}}
                {# Validité #}
                {{form_row(form.valid)}}
            </div>
            <div class="col">
                {# Tolérance #}
                {{form_row(form.tolerance)}}
                {# Date et heure d'encodage #}
                {{form_row(form.encodingDateTime)}}
                {# Date et heure d'encodage #}
                {{form_row(form.encodingAuthor)}}
                {# Bouton permettant de supprimer la mesure #}
                <button type="button" data-action="delete-measure" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer cette mesure
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        setupCollection(
            '#reading_measures',
            'button[data-action="add-measure"]',
            'button[data-action="delete-measure"]',
            'Etes-vous sûr de vouloir supprimer cette mesure ?',
            {   /* Pré-remplir pour chaque mesure ajoutée */
                'fieldDateTime_date': '#reading_fieldDateTime_date',
                'fieldDateTime_time': '#reading_fieldDateTime_time',
            }
        );
    </script>
{% endblock %}
