{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    Relevés
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
{% endblock %}

{% block body %}
    <div class="row no-gutters">
        <div class="col-md-3 no-gutters">
            {# Afficher un volet de filtres #}
            <div class="container">
                {{form_start(form)}}

                {# Afficher une vue hiérarchique des systèmes, bassins et
                stations combinant les trois formulaires en un seul, grâce à
                une programmation manuelle. La division est limitée en hauteur
                et l'utilisateur a la possibilité de la redimensionner et d'en
                faire défiler le contenu. #}
                <label for="systems">Systèmes, bassins et stations</label>
                <div class="bg-light" id="systems" style="overflow-y: scroll; height: 400px; resize: vertical">
                    {% for system in systems %}
                        <div>
                            <div class="form-check">
                                <input type="checkbox" name="filter[systems][]" id="filter_systems_{{system.id}}" class="form-check-input" value="{{system.id}}" {% if system in form.vars.data.systems %}checked="checked"{% endif %} />
                                <label for="filter_systems_{{system.id}}" class="form-check-label"><strong>{{system.name}}</strong></label>
                            </div>
                            {% for basin in system.basins %}
                                <div class="ml-4">
                                    <div class="form-check">
                                        <input type="checkbox" name="filter[basins][]" id="filter_basins_{{basin.id}}" class="form-check-input" value="{{basin.id}}" {% if basin in form.vars.data.basins %}checked="checked"{% endif %} />
                                        <label for="filter_basins_{{basin.id}}" class="form-check-label">{{basin.name}}</label>
                                    </div>
                                    {% for station in basin.stations %}
                                        <div class="ml-4">
                                            <div class="form-check">
                                                <input type="checkbox" id="filter_stations_{{station.id}}" class="form-check-input" name="filter[stations][]" value="{{station.id}}" {% if station in form.vars.data.stations %}checked="checked"{% endif %} />
                                                <label class="form-check-label" for="filter_stations_{{station.id}}"><em>{{station.name}}</em></label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                {# Inclure les lignes de formulaires relatifs aux systèmes
                maintenant, par souci de complétude comme on le fait
                habituellement pour les autres formulaires, même si ces
                formulaires sont volontairement bridés. #}
                {{form_row(form.systems)}}
                {{form_row(form.basins)}}
                {{form_row(form.stations)}}

                <div class="row">
                    <div class="col">
                        {{form_label(form.minimumDate)}}
                        {{form_errors(form.minimumDate)}}
                        {{form_widget(form.minimumDate)}}
                        {{form_help(form.minimumDate)}}
                    </div>
                    <div class="col">
                        {{form_label(form.maximumDate)}}
                        {{form_errors(form.maximumDate)}}
                        {{form_widget(form.maximumDate)}}
                        {{form_help(form.maximumDate)}}
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col">
                        {# Bouton pour appliquer le filtre #}
                        <button type="submit" class="btn btn-success float-right">
                            <i class="fas fa-filter"></i>
                            Filtrer les relevés
                        </button>
                    </div>
                </div>

                {{form_end(form)}}
            </div>
        </div>
        <div class="col no-gutters">
            {# Afficher la carte des relevés #}
            <div class="container">
                <div id="map" style="height: 400px">Carte</div>
            </div>

            {# Afficher la liste des relevés, sous forme de table liée au
            système de pagination qui suit #}
            <div class="container">
                <table width="100%" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="" id=""/></th>
                            <th>Date et heure</th>
                            <th>Code</th>
                            <th>Système</th>
                            <th>Bassin</th>
                            <th>Station</th>
                            {% for parameter in parameters %}
                                <th style="text-align: center">{{parameter.name}}</th>
                            {% endfor %}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reading in pagination.data %}
                            <tr>
                                <td><input type="checkbox" name="" id=""/></th>
                                <td>{{reading.fieldDateTime|date('d/m/Y H:i')}}</td>
                                <td><a href="{{ path('reading_show', { 'code': reading.code }) }}">{{reading.code}}</a></td>
                                <td>{{reading.station.basin.system.name}}</td>
                                <td>{{reading.station.basin.name}}</td>
                                <td>{{reading.station.name}}</td>
                                {% for parameter in parameters %}
                                    <td style="text-align: right">
                                        {% set avg = reading.average(parameter) %}
                                        {% if avg is not null %}
                                            {{avg|format_number({fraction_digit: 3})}}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td>
                                    <a href="{{ path('reading_modify', {'code': reading.code}) }}" class="text-primary"><i class="fas fa-edit"></i></a>
                                    <a href="#" class="text-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">Il n'y a pas de relevés à afficher&nbsp;: vérifiez si les filtres ne sont pas trop restrictifs, et s'ils sélectionnent au minimum une station.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {# Afficher le composant de pagination #}
                {{pagination.display}}

                {# Afficher un bouton permettant d'encoder un nouveau relevé #}
                <a class="btn btn-primary mb-3" href="{{ path('reading_encode') }}" role="button">Encoder un nouveau relevé</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block _filter_systems_row %}
    {# Ce bloc de formulaire relatif aux systèmes est vide car le bloc
    principal affiche manuellement les éléments de formulaire sous forme
    hérarchie des systèmes, bassins et stations. #}
{% endblock %}

{% block _filter_basins_row %}
    {# Ce bloc de formulaire relatif aux bassins est vide car le bloc principal
    affiche manuellement les éléments de formulaire sous forme hérarchie des
    systèmes, bassins et stations. #}
{% endblock %}

{% block _filter_stations_row %}
    {# Ce bloc de formulaire relatif aux stations est vide car le bloc
    principal affiche manuellement les éléments de formulaire sous forme
    hérarchie des systèmes, bassins et stations. #}
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <script>
        var mymap = L.map('map').setView([50.200, 4.8667], 8);

{% if 0 %}
{# Cette branche doit être réactivée et complétée avec les clés d'API à demander à MapBox (ou un autre fournisseur) #}
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);
{% else %}
    /* TODO: This is temporary code, which will be replaced with the correcly licensed maps. */
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);
{% endif %}
    </script>

    <script>
        {# Faire en sorte que si l'utilisateur change l'état d'un élément de la
        vue hiérarchique, ce changement soit propagé à tous les éléments qu'il
        contient. Notez que les éléments terminaux, qui ne contiennent donc
        aucun élément, sont concernés aussi par l'écoute des changements par
        souci d'homogénéité et d'évolutivité. #}
        $('input[type="checkbox"]').click(function() {
            var checked = $(this).prop('checked');
            $(this).parent().parent().find('input[type="checkbox"]').prop('checked', checked);
        })
    </script>
{% endblock %}
