{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    Relevés
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
{% endblock %}

{% block body %}
    <div class="row no-gutters">
        {# Afficher un volet de filtres #}
        <div class="col py-3 px-3" style="max-width: 400px">
            <h5>Filtre</h5>

            {{form_start(form)}}

            {# Afficher une vue hiérarchique des systèmes, bassins et
            stations combinant les trois formulaires en un seul, grâce à
            une programmation manuelle. La division est limitée en hauteur
            et l'utilisateur a la possibilité de la redimensionner et d'en
            faire défiler le contenu. #}
            <div class="bg-light mb-3" style="overflow-y: scroll; height: 400px; resize: vertical" id="filter_stations">
                {% for system in systems %}
                    <div>
                        <div class="form-check">
                            <input type="checkbox" name="filter[systems][]" id="filter_systems_{{system.id}}" class="form-check-input" value="{{system.id}}" {% if system in form.vars.data.systems %}checked="checked"{% endif %} />
                            <label for="filter_systems_{{system.id}}" class="form-check-label"><strong>{{system.name}}</strong></label>
                        </div>
                        {% for basin in system.basins %}
                            <div class="ml-4">
                                <div class="form-check">
                                    <input type="checkbox" name="filter[basins][]" id="filter_basins_{{basin.id}}" class="form-check-input" value="{{basin.id}}" {% if basin in form.vars.data.basins %}checked="checked"{% endif %} />
                                    <label for="filter_basins_{{basin.id}}" class="form-check-label">{{basin.name}}</label>
                                </div>
                                {% for station in basin.stations %}
                                    <div class="ml-4">
                                        <div class="form-check">
                                            <input type="checkbox" id="filter_stations_{{station.id}}" class="form-check-input" name="filter[stations][]" value="{{station.id}}" {% if station in form.vars.data.stations %}checked="checked"{% endif %} />
                                            <label class="form-check-label" for="filter_stations_{{station.id}}"><em>{{station.name}}</em></label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                {# Inclure les lignes de formulaires relatifs aux systèmes
                par souci de complétude, même si ces formulaires sont
                volontairement bridés #}
                {{form_row(form.systems)}}
                {{form_row(form.basins)}}
                {{form_row(form.stations)}}
            </div>

            {# Afficher les champs de date minimum et de date maximum #}
            <div class="form-group bg-light">
                <div class="form-row">
                    <div class="col">
                        {{form_row(form.minimumDate)}}
                    </div>
                    <div class="col">
                        {{form_row(form.maximumDate)}}
                    </div>
                </div>
            </div>

            {# Afficher les cases à cocher d'état #}
            <div class="form-group bg-light">
                <div class="row">
                    <div class="col">
                        {{form_row(form.validated)}}
                    </div>
                    <div class="col">
                        {{form_row(form.invalidated)}}
                    </div>
                    <div class="col">
                        {{form_row(form.submitted)}}
                    </div>
                </div>
            </div>

            {# Afficher les sous-formulaires pour les mesures #}
            {{form_row(form.measures)}}

            <div class="form-row my-3">
                <div class="col">
                    {# Bouton pour appliquer le filtre #}
                    <button type="submit" class="btn btn-success float-right">
                        <i class="fas fa-filter"></i>
                        Appliquer le filtre
                    </button>
                </div>
            </div>

            {{form_end(form)}}
        </div>
        <div class="col">
            {# Afficher la carte des relevés #}
            <div id="map" style="height: 400px">Carte</div>

            {# Afficher la liste des relevés, sous forme de table liée au
            système de pagination qui suit #}
            <form class="mb-3" method="POST" id="readings">
                <table width="100%" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox"/></th>
                            <th>Date/heure</th>
                            <th>Code</th>
                            <th>Système</th>
                            <th>Bassin</th>
                            <th>Station</th>
                            {% for parameter in parameters %}
                                <th style="text-align: center">
                                    {{parameter.nameWithUnit}}
                                </th>
                            {% endfor %}
                            <th>Validé</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reading in pagination.data %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="readings[{{reading.code}}]"/>
                                </th>
                                <td>
                                    {{reading.fieldDateTime|date('d/m/Y H:i')}}
                                </td>
                                <td>
                                    <a href="{{path('reading_show', {'code': reading.code })}}">{{reading.code}}</a>
                                </td>
                                <td>
                                    {{reading.station.basin.system.name}}
                                </td>
                                <td>
                                    {{reading.station.basin.name}}
                                </td>
                                <td>
                                    {{reading.station.name}}
                                </td>
                                {% for parameter in parameters %}
                                    <td style="text-align: right">
                                        {% set stats = reading.valueStats(parameter) %}
                                        {% if stats.count > 0 %}
                                            {% if stats.count > 1 %}
                                                <span class="badge badge-info badge-pill">{{stats.count}}</span>
                                                {{stats.min|number_format(1, ',', ' ')}} -
                                                {{stats.max|number_format(1, ',', ' ')}}
                                            {% else %}
                                                {{stats.avg|number_format(1, ',', ' ')}}
                                            {% endif %}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td style="text-align:center">
                                    {% if reading.validated %}
                                        {# Le relevé est validé #}
                                        <i class="fas fa-flag-checkered"></i>
                                    {% elseif reading.validated is not null %}
                                        {# Le relevé est invalidé #}
                                        <i class="fas fa-ban"></i>
                                    {% else %}
                                        {# Le relevé est soumis #}
                                        --
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{path('reading_modify', {'code': reading.code})}}"><i class="fas fa-edit text-primary"></i></a>
                                    <a href="{{path('reading_validate', {'code': reading.code})}}"><i class="fas fa-flag-checkered text-success"></i></a>
                                    <a href="#"><i class="fas fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="100">Il n'y a pas de relevés à afficher&nbsp;: vérifiez si les filtres sélectionnent au moins une station et s'ils ne sont pas trop restrictifs.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {# Afficher le composant de pagination #}
                {{pagination.display}}

                {# Afficher un bouton permettant d'encoder un nouveau relevé #}
                <a class="btn btn-primary" href="{{path('reading_encode')}}" role="button"><fa class="fas fa-plus"></fa> Encoder un nouveau relevé</a>
                <button type="submit" class="btn btn-secondary" formaction="{{path('reading_export')}}"><i class="fas fa-file-excel"></i> Exporter les relevés sélectionnés</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block _filter_systems_row %}
    {# Ce bloc de formulaire relatif aux systèmes est vide car le bloc
    principal affiche manuellement les éléments de formulaire sous forme
    hérarchie des systèmes, bassins et stations. #}
{% endblock %}

{% block _filter_basins_row %}
    {# Ce bloc de formulaire relatif aux bassins est vide car le bloc principal
    affiche manuellement les éléments de formulaire sous forme hérarchie des
    systèmes, bassins et stations. #}
{% endblock %}

{% block _filter_stations_row %}
    {# Ce bloc de formulaire relatif aux stations est vide car le bloc
    principal affiche manuellement les éléments de formulaire sous forme
    hérarchie des systèmes, bassins et stations. #}
{% endblock %}

{% block _filter_measures_label %}
    <div class="form-row my-3">
        <div class="col">
            {# Afficher un bouton permettant d'ajouter un paramètre #}
            <button type="button" data-action="add-measure" class="btn btn-secondary">
                <i class="fas fa-plus"></i> Ajouter un paramètre
                
            </button>
            <button type="button" class="btn btn-link text-info" data-toggle="popover" title="Disjonction des paramètres" data-content="La liste filtrée montrera les relevés dont au moins un paramètre correspond aux critères ci-dessous.">
                <i class="fas fa-info-circle"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block _filter_measures_widget %}
    {# Afficher le widget Twig #}
    {{form_widget(form)}}
{% endblock %}

{% block _filter_measures_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _filter_measures_entry_widget %}
    {# Cette division identifie le code HTML qui concerne le paramètre #}
    <div class="bg-light mb-3" id="{{id}}">
        {# Afficher, seul sur une ligne, la sélection de paramètre #}
        <div class="form-row">
            <div class="col">
                {{form_row(form.parameter)}}
            </div>
        </div>
        {# Afficher côte à côte les champs de valeur minimum et maximum #}
        <div class="form-row">
            <div class="col">
                {{form_row(form.minimumValue)}}
            </div>
            <div class="col">
                {{form_row(form.maximumValue)}}
            </div>
        </div>

        {# Afficher un bouton permettant de supprimer le paramètre #}
        <button type="button" data-action="delete-measure" data-target="#{{id}}" class="btn btn-danger mb-3">
            <i class="fas fa-trash"></i> Supprimer ce paramètre
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <script>
        var mymap = L.map('map').setView([50.200, 4.8667], 8);

{% if 0 %}
{# Cette branche doit être réactivée et complétée avec les clés d'API à demander à MapBox (ou un autre fournisseur) #}
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);
{% else %}
    /* TODO: This is temporary code, which will be replaced with the correcly licensed maps. */
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);
{% endif %}
    </script>

    <script>
        {# Faire en sorte que si l'utilisateur change l'état d'un élément de la
        vue hiérarchique, ce changement soit propagé à tous les éléments qu'il
        contient. Notez que les éléments terminaux, qui ne contiennent donc
        aucun élément, sont concernés aussi par l'écoute des changements par
        souci d'homogénéité et d'évolutivité. #}
        $('#filter_stations input[type="checkbox"]').click(function() {
            var checked = $(this).prop('checked');
            $(this).parent().parent().find('input[type="checkbox"]').prop('checked', checked);
        });
    </script>

    <script src="/js/collection.js"></script>
    <script>
        $(document).ready(function() {
            var measuresCollectionResponders =
                createCollectionResponders(
                    '#filter_measures',
                    'button[data-action="add-measure"]',
                    'button[data-action="delete-measure"]'
                );
            measuresCollectionResponders();
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>

    <script>
        $('#readings thead input[type="checkbox"]').click(function() {
            var checked = $(this).prop('checked');
            $('#readings tbody input[type="checkbox"]').prop('checked', checked);
        });
    </script>

{% endblock %}
