{% extends 'base.html.twig' %}

{% block title %}
    Relevé {{reading.code}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Relevé {{reading.code}}</h1>

        <div class="card mb-3">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-3">Système&nbsp;:</dt>
                    <dd class="col-9">{{reading.station.basin.system.name}}</dd>
                    <dt class="col-3">Bassin&nbsp;:</dt>
                    <dd class="col-9">{{reading.station.basin.name}}</dd>
                    <dt class="col-3">Station&nbsp;:</dt>
                    <dd class="col-9">{{reading.station.name}}</dd>
                    <dt class="col-3">Réalisé le&nbsp;:</dt>
                    <dd class="col-9">{{reading.fieldDateTime|date('d/m/Y H:i')}}</dd>
                    <dt class="col-3">Relevé de système&nbsp;:</dt>
                    <dd class="col-9">
                        {% if reading.systemReading is not null %}
                            <a href="{{path('system_reading_show', {'code': reading.systemReading.code})}}">
                                {{reading.systemReading.code}}
                            </a>
                        {% else %}
                            --
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Encodé le <strong>{{reading.encodingDateTime|date('d/m/Y H:i')}}</strong> par <strong>{{reading.encodingAuthor.displayName}}</strong>
                    </div>
                    <div class="card-body">
                        {% if reading.encodingNotes is not empty %}
                            {{reading.encodingNotes|nl2br}}
                        {% else %}
                            <em>Il n'y a pas de commentaire d'encodage.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        {% if reading.validated is not null %}
                            {% if reading.validated %}
                                <i class="fas fa-flag-checkered text-success"></i>
                                Validé
                            {% else %}
                                <i class="fas fa-ban text-danger"></i>
                                Invalidé
                            {% endif %}
                            le <strong>{{reading.validationDateTime|date('d/m/Y H:i')}}</strong> par <strong>{{reading.validationAuthor.displayName}}</strong>
                        {% else %}
                            Non validé
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% if reading.validated and (reading.validationNotes is not empty) %}
                            {{reading.validationNotes|nl2br}}
                        {% else %}
                            <em>Il n'y a pas de commentaire de validation.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <h2>Mesures</h2>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Paramètre</th>
                    <th>Valeur</th>
                    <th>Stable</th>
                    <th>Valide</th>
                    <th>Instrument</th>
                    <th>Réalisée le</th>
                    <th>Encodée le</th>
                    <th>Encodée par</th>
                    <th>Remarque</th>
                </tr>
            </thead>
            <tbody>
                {# TODO: Regrouper par paramètre #}
                {% for measure in reading.measures|sort((a,b) => a.measurability.parameter.name <=> b.measurability.parameter.name) %}
                    {% set parameter = measure.measurability.parameter %}
                    {% set instrument = measure.measurability.instrument %}
                    <tr>
                        <td rowspan="1">{{parameter.name}}</td>
                        <td>
                            {{measure.value}} 
                            {% if measure.tolerance is not null %}
                                &plusmn; {{measure.tolerance}} 
                            {% endif %}
                            {{parameter.unit}}
                        </td>
                        <td style="text-align: center">
                            {% if measure.stable %}
                                <i class="fas fa-check"></i>
                            {% else %}
                                <i class="fas fa-exclamation"></i>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if measure.valid %}
                                <i class="fas fa-check text-success"></i>
                            {% else %}
                                <i class="fas fa-ban text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if instrument is not null %}
                                {{instrument.name}}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td>
                            {{measure.fieldDateTime|date('d/m/Y')}}
                        </td>
                        <td>
                            {{measure.encodingDateTime|date('d/m/Y')}}
                        </td>
                        <td>{{measure.encodingAuthor.displayName}}</td>
                        <td>{{measure.notes}}</td>
                    </tr>
                {% else %}
                    <td colspan="100"><em>Il n'y a pas de mesures pour ce relevé.</em></td>
                {% endfor %}
            </table>
        </tbody>

        {# Ajouter un bouton pour modifier le relevé #}
        <a href="{{ path('reading_modify', {'code': reading.code}) }}" class="btn btn-primary">
            <i class="fas fa-edit"></i>
            Modifier ce relevé
        </a>

        {# Ajouter un bouton pour valider le relevé #}
        <a href="{{ path('reading_validate', {'code': reading.code}) }}" class="btn btn-success">
            <i class="fas fa-flag-checkered"></i>
            Valider ce relevé
        </a>

        {# Ajouter un bouton pour revenir à l'index #}
        <a href="{{ path('reading') }}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Revenir à la liste
        </a>
    </div>
{% endblock %}
