{% extends 'base.html.twig' %}

{% block title %}
    Relevé {{reading.code}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Relevé {{reading.code}}</h1>

        <a href="{{ path('reading_modify', {'code': reading.code}) }}" class="btn btn-primary">Modifier ce relevé</a>

        <div class="card my-3">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-3">Système :</dt>
                    <dd class="col-9">{{reading.station.basin.system.name}}</dd>
                    <dt class="col-3">Bassin :</dt>
                    <dd class="col-9">{{reading.station.basin.name}}</dd>
                    <dt class="col-3">Station :</dt>
                    <dd class="col-9">{{reading.station.name}}</dd>
                    <dt class="col-3">Date de terrain :</dt>
                    <dd class="col-9">{{reading.fieldDateTime|date('d/m/Y H:i')}}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Encodé le {{reading.encodingDateTime|date('d/m/Y H:i')}} par {{reading.encodingAuthor.displayName}}
                    </div>
                    <div class="card-body">
                        {{reading.encodingNotes|nl2br}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        {% if reading.validationAuthor is not empty %}
                            Validé le {{reading.validationDateTime|date('d/m/Y H:i')}} par {{reading.validationAuthor.displayName}}
                        {% else %}
                            Non validé
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% if reading.validationAuthor is not empty %}
                            {{reading.validationNotes|nl2br}}
                        {% else %}
                            Non validé
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <h2>Paramètres mesurés</h2>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Paramètre</th>
                <th>Valeur</th>
                <th>Stable</th>
                <th>Date et heure</th>
                <th>Instrument</th>
                <th>Remarque</th>
            </tr>
            {# Regrouper par paramètre #}
            {% for i in 1..1 %}
                <tr>
                    <td rowspan="1">NO2</td>
                    <td>10 mg/l</td>
                    <td>oui</td>
                    <td>29/10/2019 10:02</td>
                    <td>Bandelette test NO2</td>
                    <td>RAS</td>
                </tr>
                <tr>
                    <td rowspan="2">NO3</td>
                    <td>13 mg/l</td>
                    <td>oui</td>
                    <td>29/10/2019 10:02</td>
                    <td>Bandelette test NO3</td>
                    <td>RAS</td>
                </tr>
                <tr>
                    <td>15 mg/l</td>
                    <td>oui</td>
                    <td>29/10/2019 10:02</td>
                    <td>Spectromètre 2</td>
                    <td>Contrôle en labo</td>
                </tr>
                <tr>
                    <td rowspan="1">TH</td>
                    <td>28 °F</td>
                    <td>oui</td>
                    <td>29/10/2019 10:02</td>
                    <td>Liquide test TH</td>
                    <td>RAS</td>
                </tr>
                <tr>
                    <td rowspan="1">pH</td>
                    <td>8 pH</td>
                    <td>oui</td>
                    <td>29/10/2019 10:02</td>
                    <td>Bandelettes test pH</td>
                    <td>RAS</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
