{% extends 'base.html.twig' %}

{% block title %}
    Relevé {{reading.code}}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h1>Relevé {{reading.code}}</h1>
            </div>
            <div>
                <a href="{{ path('reading_modify', {'code': reading.code}) }}" class="btn btn-primary">Modifier ce relevé</a>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-3">Système :</dt>
                    <dd class="col-9">{{reading.station.basin.system.name}}</dd>
                    <dt class="col-3">Bassin :</dt>
                    <dd class="col-9">{{reading.station.basin.name}}</dd>
                    <dt class="col-3">Station :</dt>
                    <dd class="col-9">{{reading.station.name}}</dd>
                    <dt class="col-3">Date de terrain :</dt>
                    <dd class="col-9">{{reading.fieldDateTime|date('d/m/Y H:i')}}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Encodé le <strong>{{reading.encodingDateTime|date('d/m/Y H:i')}}</strong> par <strong>{{reading.encodingAuthor.displayName}}</strong>
                    </div>
                    <div class="card-body">
                        {% if reading.encodingNotes is not empty %}
                            {{reading.encodingNotes|nl2br}}
                        {% else %}
                            <em>Il n'y a pas de commentaire d'encodage.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        {% if reading.validationAuthor is not empty %}
                            Validé le <strong>{{reading.validationDateTime|date('d/m/Y H:i')}}</strong> par <strong>{{reading.validationAuthor.displayName}}</strong>
                        {% else %}
                            Non validé
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% if reading.validationNotes is not empty %}
                            {{reading.validationNotes|nl2br}}
                        {% else %}
                            <em>Il n'y a pas de commentaire de validation.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <h2>Mesures</h2>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Paramètre</th>
                    <th>Valeur</th>
                    <th>Stable</th>
                    <th>Instrument</th>
                    <th>Encodée le</th>
                    <th>Encodée par</th>
                    <th>Remarque</th>
                </tr>
            </thead>
            <tbody>
                {% if reading.measures|length > 0 %}
                    {# TODO: Regrouper par paramètre #}
                    {% for measure in reading.measures %}
                        {% set parameter = measure.measurability.parameter %}
                        {% set instrument = measure.measurability.instrument %}
                        <tr>
                            <td rowspan="1">{{parameter.name}}</td>
                            <td>{{measure.value}} 
                                {% if measure.tolerance is not null %}
                                    &plusmn; {{measure.tolerance}} 
                                {% endif %}
                                {{parameter.unit}}</td>
                            <td>{{measure.stabilized ? 'Oui' : 'Non'}}</td>
                            <td>
                                {% if instrument is not null %}
                                    {{instrument.name}}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>{{measure.encodingDateTime|date('d/m/Y H:i')}}</td>
                            <td>{{measure.encodingAuthor.displayName}}</td>
                            <td>{{measure.notes}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="0"><em>Il n'y a pas de mesures.</em></td>
                {% endif %}
            </table>
        </tbody>
    </div>
{% endblock %}
