{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        {{form_start(form)}}

        <div class="alert alert-danger">
            Cette opération est irréversible.
            <br>
            Etes-vous certain de vouloir supprimer l'instrument <strong>{{instrument.name}}</strong>&nbsp;?
        </div>

        {# Ajouter un bouton pour confirmer la suppression #}
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Supprimer l'instrument
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {{breadcrumbs.displayBackButton}}

        {{form_end(form)}}
    </div>
{% endblock %}
