{# Ce template définit une base commune pour les formulaires de création et de
modification de relevés #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet d'encoder les informations à propos d'un instrument de mesure, qui peut être, au choix, un appareil identifié individuellement ou un ensemble de consommables identifiés par lot.</p>

        {{form_start(form)}}

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Identification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="measurabilities-tab" data-toggle="tab" href="#measurabilities" role="tab" aria-controls="measurabilities" aria-selected="false">{{form.measurabilities.vars.label}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="calibrations-tab" data-toggle="tab" href="#calibrations" role="tab" aria-controls="calibrations" aria-selected="false">{{form.calibrations.vars.label}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="requiredInstruments-tab" data-toggle="tab" href="#requiredInstruments" role="tab" aria-controls="requiredInstruments" aria-selected="false">{{form.requiredInstruments.vars.label}}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            {# Afficher le panneau d'identification #}
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="alert">
                    <div class="row">
                        <div class="col-4">
                            {{form_row(form.code)}}
                            {{form_row(form.name)}}
                            {{form_row(form.model)}}
                            {{form_row(form.serialNumber)}}
                        </div>
                        <div class="col">
                            {{form_row(form.description)}}
                        </div>
                    </div>
                </div>
            </div>
            {# Afficher le panneau des paramètres #}
            <div class="tab-pane fade" id="measurabilities" role="tabpanel" aria-labelledby="measurabilities-tab">
                <div class="alert">
                    {{form_row(form.measurabilities)}}
                </div>
            </div>
            {# Afficher le panneau des étalonnages #}
            <div class="tab-pane fade" id="calibrations" role="tabpanel" aria-labelledby="calibrations-tab">
                <div class="alert">
                    {{form_row(form.calibrations)}}
                </div>
            </div>
            {# Afficher le panneau des instruments requis #}
            <div class="tab-pane fade" id="requiredInstruments" role="tabpanel" aria-labelledby="requiredInstruments-tab">
                <div class="alert">
                    <p>Ce panneau permet de définir, pour les instruments qui nécessitent d'être combinés avec d'autres pour la prise de mesure, les liaisons avec ces instruments. Par exemple, une sonde peut nécessiter un multimètre, un réactif peut nécessiter un spectrophotomètre, etc.</p>
                    <div class="row">
                        <div class="col">
                            {{form_row(form.requiredInstruments)}}
                        </div>
                        <div class="col-4">
                            <p>Instruments nécessitant {{instrument.name}}&nbsp;:</p>
                            <ul>
                                {% for requiringInstrument in instrument.requiringInstruments %}
                                    <li>{{requiringInstrument.name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Afficher un bouton permettant d'enregistrer l'instrument #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer l'instrument
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {{breadcrumbs.displayBackButton}}

        {{form_end(form)}}
    </div>
{% endblock %}


{% block _instrument_measurabilities_label %}
    <p>Ce panneau permet de définir les paramètres qui peuvent être mesurés à l'aide de l'instrument. Pour chaque paramètre, il est possible de&nbsp;:</p>
    <ul>
        <li>Préciser une unité spécifique pour la saisie, avec une formule de conversion supportant les opérateurs principaux +, -, *, /, ^, et ()&nbsp;</li>
        <li>Préciser les valeurs limites pour activer un contrôle de la validité des mesures au moment des encodages (<i class="fas fa-exclamation-triangle"></i> dans l'unité principale&nbsp;!).</li>
    </ul>
{% endblock %}

{% block _instrument_measurabilities_widget %}
    {# Afficher le widget #}
    {{form_widget(form)}}

    {# Afficher un bouton permettant d'ajouter un paramètre #}
    <button type="button" data-action="add-measurability" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un paramètre
    </button>
{% endblock %}

{% block _instrument_measurabilities_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _instrument_measurabilities_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.parameter)}}
            </div>
            <div class="col">
                {{form_row(form.minimumValue)}}
            </div>
            <div class="col">
                {{form_row(form.maximumValue)}}
            </div>
            <div class="col">
                {{form_row(form.tolerance)}}
            </div>
            <div class="col">
                {{form_row(form.inputUnit)}}
            </div>
            <div class="col-3">
                {{form_row(form.inputConversion)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.notes)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if form.vars.data and (form.vars.data.systemParameters|length or form.vars.data.measures|length) %}
                    {% if form.vars.data.systemParameters|length %}
                        <p>
                            Ce paramètre est affecté au(x) système(s)&nbsp;:
                            {% for parameter in form.vars.data.systemParameters %}
                                {{parameter.system.name}}{% if loop.last %}.{% else %},{% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if form.vars.data.measures|length %}
                        <p>
                            Ce paramètre est affecté à {{form.vars.data.measures|length}} mesure(s).
                        </p>
                    {% endif %}
                {% else %}
                    {# Afficher un bouton permettant de supprimer le paramètre #}
                    <button type="button" data-action="delete-measurability" data-target="#{{id}}" class="btn btn-danger float-right">
                        <i class="fas fa-trash"></i>
                        Supprimer ce paramètre
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block _instrument_calibrations_label %}
    <p>
        Ce panneau permet de définir l'historique métrologique de l'instrument en vue de contrôler la validité des mesures lors des encodages ultérieurs.
    </p>
    <ul>
        <li>
            <i class="fas fa-ruler"></i> Règles et récipients dont la précision ne s'altère pas avec le temps : laissez la liste vide afin de désactiver le contrôle.
        </li>
        <li>
            <i class="fas fa-trash"></i> Consommables : introduisez un seul étalonnage avec la date limite de validité.
        </li>
        <li>
            <i class="fas fa-clock"></i> Appareils concernés par un suivi métrologique : introduisez les dates des contrôles et de validité successives.
        </li>
    </ul>            
{% endblock %}

{% block _instrument_calibrations_widget %}
    {# Afficher le widget #}
    {{form_widget(form)}}

    {# Afficher un bouton permettant d'ajouter un étalonnage #}
    <button type="button" data-action="add-calibration" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un étalonnage
    </button>
{% endblock %}

{% block _instrument_calibrations_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _instrument_calibrations_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.doneDate)}}
            </div>
            <div class="col">
                {{form_row(form.dueDate)}}
            </div>
            <div class="col">
                {{form_row(form.operatorName)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.notes)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Bouton pour supprimer l'étalonnage #}
                <button type="button" data-action="delete-calibration" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer cet étalonnage
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _instrument_requiredInstruments_label %}
{% endblock %}

{% block _instrument_requiredInstruments_widget %}
    {# Afficher le widget #}
    {{form_widget(form)}}

    {# Afficher un bouton permettant d'ajouter un instrument requis #}
    <button type="button" data-action="add-requiredInstrument" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter une liaison
    </button>
{% endblock %}

{% block _instrument_requiredInstruments_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _instrument_requiredInstruments_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_errors(form)}}
                {{form_widget(form)}}
            </div>
            <div class="col">
                {# Bouton pour supprimer la l'instrument requis #}
                <button type="button" data-action="delete-requiredInstrument" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer cette liaison
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        var calibrationsCollectionResponders =
            createCollectionResponders(
                '#instrument_calibrations',
                'button[data-action="add-calibration"]',
                'button[data-action="delete-calibration"]',
                'Etes-vous sûr de vouloir supprimer cet étalonnage ?'
            );
        calibrationsCollectionResponders();

        var measurabilitiesCollectionResponders =
            createCollectionResponders(
                '#instrument_measurabilities',
                'button[data-action="add-measurability"]',
                'button[data-action="delete-measurability"]',
                'Etes-vous certain de vouloir supprimer ce paramètre ?'
            );
        measurabilitiesCollectionResponders();

        var requiredInstrumentsCollectionResponders =
            createCollectionResponders(
                '#instrument_requiredInstruments',
                'button[data-action="add-requiredInstrument"]',
                'button[data-action="delete-requiredInstrument"]',
                'Etes-vous certain de vouloir supprimer cette liaison ?'
            );
        requiredInstrumentsCollectionResponders();
    </script>
{% endblock %}
