{# Ce template définit une base commune pour les formulaires de création et de
modification de relevés #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet d'encoder les informations à propos d'un instrument de mesure, qui peut être, au choix, un appareil identifié individuellement ou un ensemble de consommables identifiés par lot. Le formulaire rassemble les données d'identification, la description, la liste des paramètres mesurés et l'historique métrologique de l'instrument&nbsp;: cela permettra de lier les mesures prises sur le terrain à cet instrument, et d'appréhender la validité de ces mesures.</p>

        {{form_start(form)}}

        {# Mettre en forme les données d'identification #}
        <h2>Identification</h2>
        <div class="alert bg-light">
            <div class="row">
                <div class="col">
                    {{form_row(form.code)}}
                    {{form_row(form.name)}}
                    {{form_row(form.model)}}
                    {{form_row(form.serialNumber)}}
                </div>
                <div class="col">
                    {{form_row(form.description)}}
                </div>
            </div>
        </div>

        {# Afficher le sous-formulaire des paramètres #}
        {{form_row(form.measurabilities)}}

        {# Afficher le sous-formulaire des étalonnages #}
        {{form_row(form.calibrations)}}

        <div class="mb-3">
            {# Afficher un bouton permettant d'enregistrer l'instrument #}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                Enregistrer l'instrument
            </button>

            {# Afficher un bouton permettant de revenir à l'index #}
            <a href="{{ path('instrument') }}" class="btn btn-cancel">
                <i class="fas fa-backspace"></i>
                Retourner à la liste
            </a>
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}


{% block _instrument_measurabilities_label %}
    <h2>{{form_label(form)}}</h2>
    <p>La liste ci-dessous permet de définir les différents paramètres qui peuvent être mesurés à l'aide de l'instrument, et préciser les limites de ces mesures.</p>
{% endblock %}

{% block _instrument_measurabilities_widget %}
    {# Afficher le widget #}
    {{form_widget(form)}}

    {# Afficher un bouton permettant d'ajouter un paramètre #}
    <button type="button" data-action="add-measurability" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un paramètre
    </button>
{% endblock %}

{% block _instrument_measurabilities_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _instrument_measurabilities_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.parameter)}}
            </div>
            <div class="col">
                {{form_row(form.minimumValue)}}
            </div>
            <div class="col">
                {{form_row(form.maximumValue)}}
            </div>
            <div class="col">
                {{form_row(form.tolerance)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.notes)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Afficher un bouton permettant de supprimer le paramètre #}
                <button type="button" data-action="delete-measurability" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer ce paramètre
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _instrument_calibrations_label %}
    <h2>{{form_label(form)}}</h2>
    <p>
        La liste ci-dessous permet de définir la période durant laquelle la précision des mesures réalisées à l'aide de l'instrument est garantie. La signification réelle peut varier suivant le type d'instrument:
        <ul>
            <li>
                Pour les instruments dont la précision ne s'altère pas avec le temps, la liste peut rester vide&nbsp;;
            </li>
            <li>
                Pour les appareils concernés par un suivi métrologique, il s'agira vraisemblablement des dates de contrôle et d'étalonnage&nbsp;;
            </li>
            <li>
                Pour les consommables, il s'agira vraisemblablement d'une date de péremption.
            </li>
        </ul>
    </p>
{% endblock %}

{% block _instrument_calibrations_widget %}
    {# Afficher le widget #}
    {{form_widget(form)}}

    {# Afficher un bouton permettant d'ajouter un étalonnage #}
    <button type="button" data-action="add-calibration" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un étalonnage
    </button>
{% endblock %}

{% block _instrument_calibrations_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _instrument_calibrations_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.doneDate)}}
            </div>
            <div class="col">
                {{form_row(form.dueDate)}}
            </div>
            <div class="col">
                {{form_row(form.operatorName)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.notes)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Bouton pour supprimer l'étalonnage #}
                <button type="button" data-action="delete-calibration" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer cet étalonnage
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        var calibrationsCollectionResponders =
            createCollectionResponders(
                '#instrument_calibrations',
                'button[data-action="add-calibration"]',
                'button[data-action="delete-calibration"]',
                'Etes-vous sûr de vouloir supprimer cet étalonnage ?'
            );
        calibrationsCollectionResponders();

        var measurabilitiesCollectionResponders =
            createCollectionResponders(
                '#instrument_measurabilities',
                'button[data-action="add-measurability"]',
                'button[data-action="delete-measurability"]',
                'Etes-vous certain de vouloir supprimer ce paramètre ?'
            );
        measurabilitiesCollectionResponders();
    </script>
{% endblock %}
