{% extends 'base.html.twig' %}

{% block title %}
    Instruments
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Instruments</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th width="10%">Code</th>
                <th width="20%">Dénomination</th>
                <th width="15%">Modèle</th>
                <th width="15%">Numéro de série/de lot</th>
                <th width="10%">Date limite</th>
                <th width="20%">Paramètres</th>
                <th width="10%">Actions</th>
            </tr>
            {% for instrument in instruments|sort((a, b) => (a.code <=> b.code)) %}
                <tr>
                    <td>{{instrument.code}}</td>
                    <td>{{instrument.name}}</td>
                    <td>{{instrument.model}}</td>
                    <td>{{instrument.serialNumber}}</td>
                    <td>
                        {% for calibration in instrument.calibrations | sort((a,b) => -(a.dueDate <=> b.dueDate)) | slice(0, 1) %}
                            {{calibration.dueDate|localizeddate('short', 'none')}}
                            {% if date(calibration.dueDate) < date() %}
                                <span class="badge badge-warning badge-pill">KO</span>
                            {% else %}
                                <span class="badge badge-success badge-pill">OK</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for parameter in instrument.measurabilities|sort((a,b) => (a.parameter.name <=> b.parameter.name)) %}
                            {{parameter.parameter.name}}{{loop.last ? '' : ','}}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{path('instrument_modify', {'id': instrument.id})}}" class="text-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{path('instrument_duplicate', {'id': instrument.id})}}" class="text-secondary"><i class="fas fa-clone"></i></a>
                        <a href="{{path('instrument_delete', {'id': instrument.id})}}" class="text-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100"><em>Il n'y a pas d'instrument de mesure.</em></td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{path('instrument_create')}}" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Ajouter un instrument
        </a>
    </div>
{% endblock %}
