{% extends 'base.html.twig' %}

{% block title %}
    Instruments de mesure
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Instruments de mesure</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Code</th>
                <th>Dénomination</th>
                <th>Modèle</th>
                <th>Numéro de série</th>
                <th>Prochain étalonnage</th>
                <th>Actions</th>
            </tr>
            {% for instrument in instruments %}
                <tr>
                    <td>{{instrument.code}}</td>
                    <td>{{instrument.name}}</td>
                    <td>{{instrument.model}}</td>
                    <td>{{instrument.serialNumber}}</td>
                    <td>
                        {% for calibration in instrument.calibrations | sort((a,b) => -(a.dueDate <=> b.dueDate)) | slice(0, 1) %}
                            {{calibration.dueDate|date('d/m/Y')}} 
                            {% if date(calibration.dueDate) < date() %}
                                <span class="badge badge-warning badge-pill">KO</span>
                            {% else %}
                                <span class="badge badge-success badge-pill">OK</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="#" class="text-primary"><i class="fas fa-edit"></i></a>
                        <a href="#" class="text-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="#" class="btn btn-primary">
            Ajouter un instrument
        </a>
    </div>
{% endblock %}
