<div>
    {# Boutons pour voir la description #}
    <a href="{{path('system_show', {'slug': system.slug})}}" class="btn btn-secondary btn-block">
        <i class="fas fa-eye"></i>
        Système
    </a>

    {% if 0 %}  {# Désactivé car pris en charge par les articles #}
        {# Boutons pour voir les instruments #}
        <a href="{{path('system_show_instruments', {'slug': system.slug})}}" class="btn btn-secondary btn-block">
            <i class="fas fa-ruler"></i>
            Instruments
        </a>
        {# Boutons pour voir les paramètres #}
        <a href="{{path('system_show_parameters', {'slug': system.slug})}}" class="btn btn-secondary btn-block">
            <i class="fas fa-asterisk"></i>
            Paramètres
        </a>
    {% endif %}

    {% if is_granted("SYSTEM_OBSERVER", system) %}
        {# Boutons pour voir les stations #}
        <a href="{{path('system_show_stations', {'slug': system.slug})}}" class="btn btn-secondary btn-block">
            <i class="fas fa-bullseye"></i>
            Bassins et stations
        </a>
        {# Boutons pour voir les fiches #}
        <a href="{{path('system_show_readings', {'slug': system.slug})}}" class="btn btn-secondary btn-block">
            <i class="fas fa-file-alt"></i>
            Fiches
        </a>
    {% endif %}

    {# Bouton pour encoder une fiche #}
    {% if is_granted('SYSTEM_CONTRIBUTOR', system) %}
        <a href="{{path('system_reading_encode', {'code': system.code})}}" class="btn btn-primary btn-block">
            <i class="fas fa-plus"></i>
            Encoder une fiche
        </a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {# Bouton pour modifier le système #}
        <a href="{{path('system_modify', {'code': system.code})}}" class="btn btn-primary btn-block">
            <i class="fas fa-edit"></i>
            Modifier le système
        </a>
        {# Bouton pour supprimer le système #}
        <a href="{{path('system_delete', {'code': system.code})}}" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i>
            Supprimer le système
        </a>
    {% endif %}
</div>
