{# Ce template définit une base commune pour les formulaires de création et de
modification de paramètres #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-3">
        <h1>{% block title %}{% endblock %}</h1>

        {{form_start(form)}}

        <div class="row">
            <div class="col-md-3">
                {{form_row(form.code)}}
                {{form_row(form.basin)}}
                {{form_row(form.commune)}}
                {{form_row(form.number)}}
                {{form_row(form.waterMass)}}
            </div>
            <div class="col-md-9">
                {{form_row(form.name)}}
                {{form_row(form.slug)}}
                {{form_row(form.introduction)}}
                {{form_row(form.description)}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {# Bouton pour enregistrer le système #}
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i>
                    Enregistrer le système
                </button>

                {# Bouton pour revenir à l'index #}
                <a href="{{ path('system') }}" class="btn btn-cancel ml-3">
                    <i class="fas fa-backspace"></i>
                    Annuler
                </a>
            </div>
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}
