{# Ce template définit une base commune pour les formulaires de création et de
modification de systèmes #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet d'introduire les principales informations relatives à un système karstique étudié : données d'identification, description affichées sur la page d'accueil du site, liste des bassins d'alimentation, photos, et liste des paramètres qui seront mesurés.</p>

        {{form_start(form)}}

        {# Afficher une barre d'onglets #}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="identification-tab" data-toggle="tab" href="#identification" role="tab" aria-controls="identification" aria-selected="true">Identification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pictures-tab" data-toggle="tab" href="#pictures" role="tab" aria-controls="pictures" aria-selected="false">{{form.pictures.vars.label}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="basins-tab" data-toggle="tab" href="#basins" role="tab" aria-controls="basins" aria-selected="false">{{form.basins.vars.label}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters" aria-selected="false">{{form.parameters.vars.label}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="false">{{form.systemRoles.vars.label}}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            {# Définir le panneau d'identification #}
            <div class="tab-pane fade show active" id="identification" role="tabpanel" aria-labelledby="identification-tab">
                <div class="alert">
                    <div class="row">
                        <div class="col-md-3">
                            {{form_row(form.code)}}
                            {{form_row(form.basin)}}
                            {{form_row(form.commune)}}
                            {{form_row(form.waterMass)}}
                        </div>
                        <div class="col-md-9">
                            {{form_row(form.name)}}
                            {{form_row(form.slug)}}
                            {{form_row(form.introduction)}}
                            {{form_row(form.description)}}
                        </div>
                    </div>
                </div>
            </div>
            {# Définir le panneau des photographies #}
            <div class="tab-pane fade" id="pictures" role="tabpanel" aria-labelledby="pictures-tab">
                <div class="alert">
                    {{form_row(form.pictures)}}
                    {{form_row(form.newPictures)}}
                </div>
            </div>
            {# Définir le panneau des bassins #}
            <div class="tab-pane fade" id="basins" role="tabpanel" aria-labelledby="basins-tab">
                <div class="alert">
                    {{form_row(form.basins)}}
                </div>
            </div>
            {# Définir le panneau des paramètres #}
            <div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="parameters-tab">
                <div class="alert">
                    {{form_row(form.parameters)}}
                </div>
            </div>
            {# Définir le panneau des rôles #}
            <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
                <div class="alert">
                    {{form_row(form.systemRoles)}}
                </div>
            </div>
        </div>

        {# Afficher un bouton permettant d'enregistrer le système #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le système
        </button>

        {# Afficher un bouton permettant de revenir à l'index #}
        <a href="{{path('systems_list')}}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Revenir à la liste
        </a>

        {{form_end(form)}}
    </div>
{% endblock %}


{% block _system_basins_label %}
    <p>Ce permet de définir les bassins d'alimentation faisant partie du système.</p>
{% endblock %}

{% block _system_basins_row %}
    {{form_row(form)}}
    {# Bouton permettant d'ajouter un bassin #}
    <button type="button" data-action="add-basin" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un bassin
    </button>
{% endblock %}

{% block _system_basins_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _system_basins_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.name)}}
                {{form_row(form.code)}}
            </div>
            <div class="col">
                {{form_row(form.description)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if (form.vars.data is not null) and (form.vars.data.stations|length) %}
                    <p>Ce bassin contient {{form.vars.data.stations|length}} station(s).</p>
                {% else %}
                    {# Bouton permettant de supprimer le bassin #}
                    <button type="button" data-action="delete-basin" data-target="#{{id}}" class="btn btn-danger float-right">
                        <i class="fas fa-trash"></i>
                        Supprimer ce bassin
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block _system_pictures_label %}
    <p>Ce panneau permet de définir les photos du système.<p>
{% endblock %}

{% block _system_pictures_row %}
    {{form_row(form)}}
    {# Bouton permettant d'ajouter une photo #}
    <button type="button" data-action="add-picture" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter manuellement une photo
    </button>
{% endblock %}

{% block _system_pictures_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _system_pictures_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col md-3">
                {% if form.children.fileName.vars.data is not null %}
                    <img src="/{{form.children.fileName.vars.value}}" alt="{{form.children.fileName.vars.value}}" style="max-width: 100%; height: auto;">
                {% endif %}
            </div>
            <div class="col">
                {{form_row(form.fileName)}}
                {{form_row(form.caption)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Bouton permettant de supprimer la photo #}
                <button type="button" data-action="delete-picture" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer cette photo
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _system_parameters_label %}
    <p>Ce panneau planifie les paramètres à mesurer sur le système ainsi que l'instrument qui sera en principe utilisé pour ces mesures.</p>
{% endblock %}

{% block _system_parameters_row %}
    {{form_row(form)}}
    {# Bouton permettant d'ajouter un paramètre #}
    <button type="button" data-action="add-parameter" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un paramètre
    </button>
{% endblock %}

{% block _system_parameters_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _system_parameters_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.instrumentParameter)}}
            </div>
            <div class="col">
                {{form_row(form.notes)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Bouton permettant de supprimer le paramètre #}
                <button type="button" data-action="delete-parameter" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer ce paramètre
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _system_systemRoles_label %}
    <p>Ce permet de définir les rôles des utilisateurs associés au système.</p>
{% endblock %}

{% block _system_systemRoles_row %}
    {{form_row(form)}}
    {# Bouton permettant d'ajouter un bassin #}
    <button type="button" data-action="add-userRole" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un rôle
    </button>
{% endblock %}

{% block _system_systemRoles_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _system_systemRoles_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.author)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.canView)}}
            </div>
            <div class="col">
                {{form_row(form.canExport)}}
            </div>
            <div class="col">
                {{form_row(form.canEncode)}}
            </div>
            <div class="col">
                {{form_row(form.canValidate)}}
            </div>
            <div class="col">
                {{form_row(form.canDelete)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Bouton permettant de supprimer le rôle #}
                <button type="button" data-action="delete-userRole" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer ce rôle
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        var basinsCollectionResponder =
            createCollectionResponders(
                '#system_basins',
                'button[data-action="add-basin"]',
                'button[data-action="delete-basin"]',
                'Etes-vous sûr de vouloir supprimer ce bassin ?'
            );
        basinsCollectionResponder();

        var picturesCollectionResponder =
            createCollectionResponders(
                '#system_pictures',
                'button[data-action="add-picture"]',
                'button[data-action="delete-picture"]',
                'Etes-vous sûr de vouloir supprimer cette photo ?'
            );
        picturesCollectionResponder();

        var parametersCollectionResponder =
            createCollectionResponders(
                '#system_parameters',
                'button[data-action="add-parameter"]',
                'button[data-action="delete-parameter"]',
                'Etes-vous sûr de vouloir supprimer ce paramètre ?'
            );
        parametersCollectionResponder();

        var systemRolesCollectionResponder =
            createCollectionResponders(
                '#system_systemRoles',
                'button[data-action="add-userRole"]',
                'button[data-action="delete-userRole"]',
                'Etes-vous sûr de vouloir supprimer ce rôle ?'
            );
        systemRolesCollectionResponder();
    </script>
{% endblock %}
