{# Ce template définit une base commune pour les formulaires de création et de
modification de paramètres #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet d'introduire les principales informations relatives à un système karstique étudié : données d'identification, description affichées sur la page d'accueil du site, liste des bassins d'alimentation, photos, et liste des paramètres qui seront mesurés.</p>

        {{form_start(form)}}

        <h2>Identification</h2>
        <div class="alert bg-light">
            <div class="row">
                <div class="col-md-3">
                    {{form_row(form.code)}}
                    {{form_row(form.basin)}}
                    {{form_row(form.commune)}}
                    {{form_row(form.number)}}
                    {{form_row(form.waterMass)}}
                </div>
                <div class="col-md-9">
                    {{form_row(form.name)}}
                    {{form_row(form.slug)}}
                    {{form_row(form.introduction)}}
                    {{form_row(form.description)}}
                </div>
            </div>
        </div>

        {# Constituer le sous-formulaire des bassins #}
        {{form_row(form.basins)}}

        {# Constituer le sous-formulaire des photos #}
        {{form_row(form.pictures)}}
        {{form_row(form.newPictures)}}

        {# Constituer le sous-formulaire des paramètres #}
        {{form_row(form.parameters)}}

        {# Constituer la dernière ligne du formulaire #}
        <div class="my-3">
            {# Afficher un bouton permettant d'enregistrer le système #}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                Enregistrer le système
            </button>

            {# Afficher un bouton permettant de revenir à l'index #}
            <a href="{{ path('system') }}" class="btn btn-cancel">
                <i class="fas fa-backspace"></i>
                Annuler
            </a>
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}


{% block _system_basins_label %}
    <h2>{{form_label(form)}}</h2>
    <p>La liste ci-dessous permet de recenser les bassins d'alimentation faisant partie du système.</p>
{% endblock %}

{% block _system_basins_row %}
    {{form_row(form)}}
    {# Bouton pour ajouter un bassin #}
    <button type="button" data-action="add-basin" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un bassin
    </button>
{% endblock %}

{% block _system_basins_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _system_basins_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.code)}}
                {{form_row(form.name)}}
            </div>
            <div class="col">
                {{form_row(form.description)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if (form.vars.data is not null) and (form.vars.data.stations|length) %}
                    <p>Ce bassin contient {{form.vars.data.stations|length}} station(s).</p>
                {% else %}
                    {# Afficher un bouton pour supprimer le bassin #}
                    <button type="button" data-action="delete-basin" data-target="#{{id}}" class="btn btn-danger float-right">
                        <i class="fas fa-trash"></i>
                        Supprimer ce bassin
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block _system_pictures_label %}
    <h2>{{form_label(form)}}</h2>
    <p>Les photos de la liste ci-dessous seront affichées avec la description du système. Chaque photo est susceptible d'être prise au hasard lors de différents affichages relatifs au système.<p>
{% endblock %}

{% block _system_pictures_widget %}
    {{form_widget(form)}}
{% endblock %}

{% block _system_pictures_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _system_pictures_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col md-3">
                <img src="{{form.fileName.vars.data}}" alt="{{form.caption.vars.data}}" style="max-width: 100%; height: auto;">
            </div>
            <div class="col">
                {{form_row(form.fileName)}}
                {{form_row(form.caption)}}

                {# Bouton pour supprimer la photo #}
                <button type="button" data-action="delete-picture" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer cette photo
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _system_parameters_label %}
    <h2>{{form_label(form)}}</h2>
    <p>La liste ci-dessous permet de planifier les paramètres à mesurer sur le système ainsi que l'instrument qui sera en principe utilisé pour ces mesures.</p>
{% endblock %}

{% block _system_parameters_row %}
    {{form_row(form)}}
    {# Afficher un bouton permettant d'ajouter un paramètre #}
    <button type="button" data-action="add-parameter" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un paramètre
    </button>
{% endblock %}

{% block _system_parameters_entry_row %}
    {# N'afficher que le widget, sans étiquette ou autre information #}
    {{form_widget(form)}}
{% endblock %}

{% block _system_parameters_entry_widget %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {{form_row(form.instrumentParameter)}}
            </div>
            <div class="col">
                {{form_row(form.notes)}}

                {# Bouton pour supprimer le paramètre #}
                <button type="button" data-action="delete-parameter" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer ce paramètre
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        var basinsCollectionResponder =
            createCollectionResponders(
                '#system_basins',
                'button[data-action="add-basin"]',
                'button[data-action="delete-basin"]',
                'Etes-vous sûr de vouloir supprimer ce bassin ?'
            );
        basinsCollectionResponder();

        var picturesCollectionResponder =
            createCollectionResponders(
                '#system_pictures',
                'button[data-action="add-picture"]',
                'button[data-action="delete-picture"]',
                'Etes-vous sûr de vouloir supprimer cette photo ?'
            );
        picturesCollectionResponder();

        var parametersCollectionResponder =
            createCollectionResponders(
                '#system_parameters',
                'button[data-action="add-parameter"]',
                'button[data-action="delete-parameter"]',
                'Etes-vous sûr de vouloir supprimer ce paramètre ?'
            );
        parametersCollectionResponder();
    </script>
{% endblock %}
