{% extends 'base.html.twig' %}

{% block title %}
    Systèmes karstiques
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Systèmes karstiques étudiés</h1>

        <div class="row">
            {% for system in systems %}
                {% set url = path('system_show', { 'slug': system.slug }) %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            {{system.commune}}
                            <br>
                            {{system.basin}}
                        </div>
                        {% if system.pictures|length > 0 %}
                            <a href="{{url}}">
                                {# Prendre une image au hasard parmi celles du système #}
                                <img src="{{system.pictures[random(0, system.pictures|length - 1)].fileName}}" alt="{{system.name}}" style="height: 200px; width: 100%; display:block"/>
                            </a>
                        {% else %}
                            <div class="alert alert-warning">Il n'y a pas encore de photo pour ce système.</div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{url}}">{{system.name}}</a>
                            </h4>
                            <p class="card-text">
                                {{system.introduction}}
                            </p>
                            <a href="{{url}}">En savoir plus&nbsp;!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if app.user and app.user.isAdmin() %}
            <a href="{{ path('system_create') }}" class="btn btn-primary">Ajouter un système</a>
        {% endif %}
    </div>
{% endblock %}
