{% extends 'system/base.html.twig' %}

{% block title %}
    Instruments pour {{system.name}}
{% endblock %}

{% block content %}
    {# Bouton pour modifier les paramètres et instruments #}
    {% if is_granted('SYSTEM_CONTRIBUTOR', system) %}
        <a href="{{path('system_parameter', {'code': system.code})}}" class="btn btn-primary float-right">
            <i class="fas fa-edit"></i>
            Modifier
        </a>
    {% endif %}

    {# Titre #}
    <h1>Instruments pour {{system.name}}</h1>

    <p>Les instruments suivants sont utilisés pour les mesures dans le système&nbsp;:</p>

    {% for instrument in instruments|sort((a,b) => (a.code <=> b.code)) %}
        {# Titre #}
        <h2 id="instrument_{{instrument.id}}">
            <span class="badge badge-secondary">
                {{instrument.code}}
            </span>
            <span class="mx-2">
                {{instrument.name}}
            </span>
        </h2>

        <dl class="row">
            {% if instrument.model is not null %}
                {# Marque et modèle #}
                <dt class="col-4">Marque/modèle&nbsp;:</dt>
                <dd class="col-8">{{instrument.model}}</dd>
            {% endif %}

            {% if (instrument.serialNumber is not null) and is_granted('SYSTEM_CONTRIBUTOR', system) %}
                {# Numéro de série #}
                <dt class="col-4">Numéro de série/de lot&nbsp;:</dt>
                <dd class="col-8">{{instrument.serialNumber}}</dd>
            {% endif %}
        </dl>

        {# Description de l'instrument modèle #}
        {% if instrument.modelInstrument is not null %}
            {{instrument.modelInstrument.description|raw}}
        {% endif %}

        {# Description #}
        {{instrument.description|raw}}
    {% endfor %}
{% endblock %}

{% block index %}
    {# Raccourcis vers les instruments #}
    <div class="card mt-3">
        <div class="card-header h4">Instruments</div>
        <ul class="list-group list-group-flush">
            {% for instrument in instruments|sort((a,b) => (a.name <=> b.name)) %}
                <li class="list-group-item">
                    <a href="#instrument_{{instrument.id}}">{{instrument.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
