{% extends 'base.html.twig' %}

{% block title %}
    Systèmes
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Systèmes</h1>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Localité</th>
                    <th>Bassin versant</th>
                    <th>Bassins</th>
                    <th>Paramètres</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
                {% for system in pagination.data %}
                    <tr>
                        <td>{{system.code}}</td>
                        <td>{{system.name}}</td>
                        <td>{{system.commune}}</td>
                        <td>{{system.basin}}</td>
                        <td>
                            {% if system.basins|length %}
                                <span class="badge badge-success badge-pill">{{system.basins|length}}</span>
                            {% else %}
                                <i class="fas fa-exclamation-triangle text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if system.parameters|length %}
                                <span class="badge badge-success badge-pill">{{system.parameters|length}}</span>
                            {% else %}
                                <i class="fas fa-exclamation-triangle text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{path('system_modify', {'code': system.code})}}" class="text-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{path('system_station', {'code': system.code})}}" class="text-secondary"><i class="fas fa-bullseye"></i></a>
                            <a href="{{path('system_parameter', {'code': system.code})}}" class="text-secondary"><i class="fas fa-asterisk"></i></a>
                            <a href="{{path('system_delete', {'code': system.code})}}" class="text-danger" data-action="delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100">
                            <em>Il n'y a pas de systèmes.</em>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{pagination.display}}

        <a href="{{path('system_create')}}" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Ajouter un système
        </a>
    </div>
{% endblock %}
