{% extends 'system/base.html.twig' %}

{% block title %}
    {{system.name}}
{% endblock %}

{% block content %}
    {# Titre #}
    <h1>
        <span class="badge badge-secondary">
            {{system.code}}
        </span>
        <span class="mx-2">
            {{system.name}}
        </span>
        <small>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('system_modify', {'code': system.code})}}">
                    <i class="fas fa-edit text-primary"></i>
                </a>
            {% endif %}
        </small>
    </h1>

    {# Description introductive #}
    <p><big>{{system.introduction}}</big></p>

    <dl class="row">
        {# Commune #}
        <dt class="col-3">Commune&nbsp;:</dt>
        <dd class="col-9">{{system.commune}}</dd>
        {# Bassin versant #}
        <dt class="col-3">Bassin versant&nbsp;:</dt>
        <dd class="col-9">{{system.basin}}</dd>
    </dl>

    {# Description détaillée du système #}
    {% if system.description %}
        <div>
            {{system.description|raw}}
        </div>
    {% endif %}

    {# Carousel d'images #}
    {% include 'system/_pictures.html.twig' with { 'system': system } %}

    {# Descriptions des bassins et des stations #}
    {% include 'system/_stations.html.twig' with { 'system': system } %}
{% endblock %}
