{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet d'ajouter, modifier ou supprimer des stations pour le système, c'est-à-dire les emplacements précis où sont prises les mesures.</p>
        <p><i class="fas fa-exclamation-circle"></i> Si, en cours d'étude, il apparaît qu'une station ayant déjà fait l'objet de mesures n'est pas accessible et qu'une mesure a dû être réalisée à un autre emplacement, ne déplacez jamais la station existante mais créez-en une autre&nbsp;!<p>

        {{form_start(form)}}

        {{form_row(form.stations)}}

        {# Afficher un bouton permettant d'ajouter une station #}
        <button type="button" data-action="add-station" class="btn btn-secondary">
            <i class="fas fa-plus"></i>
            Ajouter une station
        </button>

        {# Afficher un bouton permettant d'enregistrer les modifications #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer les modifications
        </button>

        {# Afficher un bouton permettant de revenir à l'index #}
        <a href="{{path('reading')}}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Revenir à la liste
        </a>

        {{form_end(form)}}
    </div>
{% endblock %}


{% block _system_stations_stations_label %}
{% endblock %}

{% block _system_stations_stations_entry_row %}
    <div class="form-group alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        {{form_row(form.basin)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form_row(form.name)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form_row(form.code)}}
                    </div>
                    <div class="col">
                        {{form_row(form.atlasCode)}}
                    </div>
                    <div class="col">
                        {{form_row(form.kind)}}
                    </div>
                </div>
            </div>
            <div class="col">
                {{form_row(form.description, {
                    'attr': {'rows': 6, 'required': 'required'}})}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if (form.vars.data is not null) and (form.vars.data.readings|length) %}
                    <p>Cette station dispose de {{form.vars.data.readings|length}} relevé(s).</p>
                {% else %}
                    {# Afficher un bouton permettant de supprimer le bassin #}
                    <button type="button" data-action="delete-station" data-target="#{{id}}" class="btn btn-danger float-right">
                        <i class="fas fa-trash"></i>
                        Supprimer cette station
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        var stationsCollectionResponder =
            createCollectionResponders(
                '#system_stations_stations',
                'button[data-action="add-station"]',
                'button[data-action="delete-station"]',
                'Etes-vous sûr de vouloir supprimer cette station ?'
            );
        stationsCollectionResponder();
    </script>
{% endblock %}
