{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet l'encodage des mesures simultanément pour toutes les stations d'un système, en considérant que ces mesures ont été prises dans la même journée et en utilisant le même jeu d'instruments.</p>

        {{form_start(form)}}

        {# Afficher les champs généraux #}
        <div class="alert bg-light">
            <div class="row">
                <div class="col">
                    {{form_row(form.fieldDateTime)}}
                </div>
                <div class="col">
                    {{form_row(form.system)}}
                </div>
                <div class="col">
                    {{form_row(form.code)}}
                </div>
            </div>
        </div>

        {# Afficher le tableau d'encodage des mesures avec en colonnes les paramètres, en lignes les stations, et en cellules les mesures #}
        <div class="alert bg-light">
            <p>Dans le tableau ci-dessous, n'oubliez pas de sélectionner l'instrument ayant servi à prendre les mesures, et introduisez les valeurs mesurées en respectant l'unité du paramètre. &laquo;&nbsp;S&nbsp;&raquo; siginifie que la valeur stable, et &laquo;&nbsp;V&nbsp;&raquo; qu'elle est valide.</p>
            <table cellpadding="3">
                <thead>
                    <tr>
                        {# Afficher les en-têtes des colonnes pour le nom et le code AKWA de la station #}
                        <th width="15%">
                            {{form_label(form.stationReadings|first.station)}}
                        </th>
                        <th width="10%">
                            {{form_label(form.stationReadings|first.atlasCode)}}
                        </th>
                        {# Afficher les paramètres (en-têtes de colonnes) #}
                        {{form_row(form.systemParameters)}}
                    </tr>
                </thead>
                <tbody>
                    {# Afficher les relevés de stations (lignes du tableau) #}
                    {{form_row(form.stationReadings)}}

                    {# Définir un prototype pour l'ajout de relevés de stations supplémentaires; ces relevés seront insérés ici #}
{% if 0 %}
                    {% set __name__ = '__name__' %}
                    <tr id="system_reading_stationReadings_{{__name__}}" hidden="hidden">
                        {# Afficher le widget de dénomination #}
                        <td style="vertical-align: top">
                            <input type="text" id="system_reading_stationReadings_{{__name__}}_station" name="system_reading[stationReadings][{{__name__}}][station]" required="required" placeholder="Dénomination" class="form-control" value="">
                        </td>
                        {# Afficher le widget de code AKWA #}
                        <td style="vertical-align: top">
                            <input type="text" id="system_reading_stationReadings_{{__name__}}_atlasCode" name="system_reading[stationReadings][{{__name__}}][atlasCode]" placeholder="N°" class="form-control">
                        </td>
                        {# Pour chacun des paramètres #}
                        {% for parameter in form.systemParameters %}
                            {% set __index__ = loop.index0 %}
                            <td>
                                {# Afficher le widget de valeur #}
                                <input type="text" id="system_reading_stationReadings_{{__name__}}_measures_{{__index__}}_value" name="system_reading[stationReadings][{{__name__}}][measures][{{__index__}}][value]" class="form-control">
                                {# Afficher le widget de mesure stable #}
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="system_reading_stationReadings_{{__name__}}_measures_{{__index__}}_stable" name="system_reading[stationReadings][{{__name__}}][measures][{{__index__}}][stable]" tabindex="-1" class="form-check-input" value="1" checked="checked">
                                    <label class="checkbox-inline form-check-label" style="color: lightgray" for="system_reading_stationReadings_{{__name__}}_measures_{{__index__}}_stable">S</label>
                                </div>
                                {# Afficher le widget de mesure valide #}
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="system_reading_stationReadings_{{__name__}}_measures_{{__index__}}_valid" name="system_reading[stationReadings][{{__name__}}][measures][{{__index__}}][valid]" tabindex="-1" class="form-check-input" value="1" checked="checked">
                                    <label class="checkbox-inline form-check-label" style="color: lightgray" for="system_reading_stationReadings_{{__name__}}_measures_{{__index__}}_valid">V</label>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
{% endif %}
                </tbody>
            </table>

            {# Afficher un bouton permettant d'ajouter un relevé de station #}
{% if 0 %}
            <button type="button" data-action="add-stationReading" class="btn btn-secondary">
                <i class="fas fa-plus"></i>
                Ajouter une nouvelle station
            </button>
{% endif %}
        </div>

        {# Afficher les informations d'encodage #}
        <div class="alert bg-light">
            <div class="row">
                <div class="col">
                    {{form_row(form.encodingDateTime)}}
                </div>
                <div class="col">
                    {{form_row(form.encodingAuthor)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_row(form.encodingNotes)}}
                </div>
            </div>
        </div>

        {# Afficher les informations de validation #}
        {% if validation|default(false) %}
            <div class="alert bg-light">
                <div class="row">
                    <div class="col">
                        {{form_row(form.validationDateTime)}}
                    </div>
                    <div class="col">
                        {{form_row(form.validationAuthor)}}
                    </div>
                </div>
                {{form_row(form.validationNotes)}}
                {{form_row(form.validationStatus)}}
            </div>
        {% endif %}

        {# Afficher un bouton permettant d'enregistrer le relevé #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le relevé
        </button>

        {# Afficher un bouton pour revenir à l'index #}
        <a href="{{path('reading')}}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Revenir à la liste
        </a>

        {{form_end(form)}}
    </div>
{% endblock %}


{# Modèle englobant tous les paramètres d'instrument (colonnes du tableau) #}
{% block _system_reading_systemParameters_row %}
    {# Afficher seulement le widget, sans étiquette ni aide ni erreur #}
    {{form_widget(form)}}
{% endblock %}

{# Modèle d'un paramètre d'instrument (colonne du tableau)) #}
{% block _system_reading_systemParameters_entry_row %}
    <td>{{form_widget(form)}}</td>
{% endblock %}

{# Modèle englobant tous les relevés de station (lignes du tableau) #}
{% block _system_reading_stationReadings_row %}
    {# Afficher seulement le widget, sans étiquette ni aide ni erreur #}
    {{form_widget(form)}}
{% endblock %}

{# Modèle d'un relevé de station (ligne du tableau) #}
{% block _system_reading_stationReadings_entry_row %}
    {# Afficher seulement le widget, sans étiquette ni aide ni erreur #}
    {{form_widget(form)}}
{% endblock %}

{# Modèle d'un relevé de station (cellule du tableau) #}
{% block _system_reading_stationReadings_entry_widget %}
    <tr id="{{id}}">
        {# Afficher le champ de saisie de la station #}
        <td style="vertical-align: top">
            {{form_widget(form.station)}}
        </td>
        <td style="vertical-align: top">
            {{form_widget(form.atlasCode)}}
        </td>
        {# Pour chacune des mesures du relevé de station #}
        {% for measure in form.measures.children %}
            <td>
                {# Afficher le widget de valeur sans étiquette ni aide ni erreur #}
                {{form_widget(measure.children.value)}}
                {# Afficher la case à cocher "mesure stable" #}
                {{form_widget(measure.children.stable, {
                    'attr': {
                        'tabindex': '-1'
                    },
                    'label_attr': {
                        'class': 'checkbox-inline',
                        'style': 'color: lightgray'
                    }
                })}}
                {# Afficher la case à cocher "mesure valide" #}
                {{form_widget(measure.children.valid, {
                    'attr': {
                        'tabindex': '-1'
                    },
                    'label_attr': {
                        'class': 'checkbox-inline',
                        'style': 'color: lightgray'
                    }
                })}}
            </td>
        {% endfor %}
    </tr>
{% endblock %}


{#% block javascripts %}
    <script>
        $('button[data-action=add-stationReading]').click(function() {
            /* Trouver un indice libre */
            var $stationIndex = +0;
            while (0 != $('#system_reading_stationReadings_' + $stationIndex).length) {
                $stationIndex++;
            }

            /* Créer un nouvel élément à partir du prototype */
            var $prototype = $('#system_reading_stationReadings___name__');
            var $html = $prototype.prop('outerHTML').replace(/__name__/g, $stationIndex);
            $prototype.before($html);

            /* Supprimer l'attribut "caché" du nouvel élément */
            $('#system_reading_stationReadings_' + $stationIndex).removeAttr('hidden');
        });
    </script>
{% endblock %#}
