{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet l'encodage rapide des mesures pour toutes les stations d'un système, en leur attribuant la même date de terrain et les mêmes instruments de mesure.</p>

        {{form_start(form)}}

        {# Afficher les champs généraux #}
        <div class="alert bg-light">
            <div class="row">
                <div class="col">
                    {{form_row(form.fieldDateTime)}}
                </div>
                <div class="col">
                    {{form_row(form.system)}}
                </div>
                <div class="col">
                    {{form_row(form.code)}}
                </div>
            </div>
        </div>

        {# Afficher le tableau d'encodage des mesures avec en colonnes les paramètres, en lignes les stations, et en cellules les mesures #}
        <h2>Mesures</h2>
        <div class="alert bg-light">
            <table cellpadding="3" width="100%">
                <thead>
                    <tr>
                        {# Afficher les en-têtes des colonnes de la station #}
                        <th width="15%">
                            Station
                        </th>
                        {# Afficher les en-têtes de colonnes des paramètres #}
                        {% for systemParameter in systemParameters %}
                            <th class="text-center">
                                {{systemParameter.parameter.name}}
                                [{{systemParameter.parameter.unit}}]
                                <br>
                                {{systemParameter.instrument.name}}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>

                {# Afficher les relevés de stations (lignes du tableau) #}
                {{form_widget(form.stationReadings)}}
            </table>
            <small class="text-muted">Introduisez <strong>toutes</strong> les valeurs qui ont été mesurées, en veillant à respecter l'unité du paramètre concerné. Complétez la valeur en décochant &laquo;&nbsp;S&nbsp;&raquo; si la valeur était instable lors de la mesure, et &laquo;&nbsp;V&nbsp;&raquo; si une valeur est hors gamme ou qu'elle vous paraît invalide.</small>
        </div>

        <div class="alert bg-light">
            <table cellpadding="3" width="100%">
                <thead>
                    <tr>
                        <th width="15%">Station</th>
                        <th>Remarque</th>
                    </tr>
                </thead>
                {% for stationReading in form.children.stationReadings %}
                    <tbody>
                        <tr>
                            <td class="align-top">
                                {{stationReading.vars.data.station.name}}
                                <br>
                                <small>{{stationReading.vars.value.station.atlasCode|default('--')}}</small>
                            </td>
                            <td>
                                {{form_widget(stationReading.children.encodingNotes, {
                                    'attr' : {'rows': 1}
                                })}}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        {# Afficher les informations d'encodage #}
        {% if form.encodingNotes is defined %}
            <h2>Encodage</h2>
            <div class="alert bg-light">
                <div class="row">
                    <div class="col-3">
                        {{form_row(form.encodingDateTime)}}
                        {{form_row(form.encodingAuthor)}}
                    </div>
                    <div class="col">
                        {{form_row(form.encodingNotes, {
                            'attr': {'rows': 4}})}}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Afficher les informations de validation #}
        {% if form.validationNotes is defined %}
            <h2>Validation</h2>
            <div class="alert bg-light">
                <div class="row">
                    <div class="col-3">
                        {{form_row(form.validationDateTime)}}
                        {{form_row(form.validationAuthor)}}
                    </div>
                    <div class="col">
                        {{form_row(form.validationNotes, {
                            'attr': {'rows': 4}})}}
                        {{form_row(form.validationStatus)}}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Afficher un bouton permettant d'enregistrer le relevé #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le relevé
        </button>

        {# Afficher un bouton permettant de revenir à l'index #}
        <a href="{{path('reading')}}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Revenir à la liste
        </a>

        {{form_end(form)}}
    </div>
{% endblock %}


{# Modèle d'un relevé de station #}
{% block _system_reading_stationReadings_entry_row %}
    <tbody id="{{id}}">
        <tr>
            {# Afficher les cellules statiques relatives à la station #}
            <td class="align-top">
                {{form.vars.value.station.name}}
                <br>
                <small>{{form.vars.value.station.atlasCode|default('--')}}</small>
            </td>

            {# Afficher les mesures du relevé de station #}
            {{form(form.measures)}}
        </tr>
    </tbody>
{% endblock %}


{# Modèle d'une mesure #}
{% block _system_reading_stationReadings_entry_measures_entry_row %}
    <td class="align-top">
        {# Inclure le widget de paramètre (caché) #}
        {{form_widget(form.measurability)}}
        {# Afficher le widget de valeur et l'éventuelle erreur #}
        {{form_errors(form.value)}}
        {{form_widget(form.value)}}
        {# Afficher la case à cocher de mesure stable #}
        {{form_widget(form.stable, {
            'label_attr': {
                'class': 'checkbox-inline',
                'style': 'color: lightgray',
            }
        })}}
        {# Afficher la case à cocher de mesure valide #}
        {{form_widget(form.valid, {
            'label_attr': {
                'class': 'checkbox-inline',
                'style': 'color: lightgray',
            }
        })}}
    </td>
{% endblock %}
