{#
Template pour l'affichage du formulaire d'encodage ou de validation d'une fiche.

Attention: chaque fois que l'on affiche la liste des paramètre, il faut
utiliser la liste ordonnée donnée par le contrôleur comme 'systemParameters'.
Cette liste est en effet consistante avec l'ordre dans lequel le contrôleur a
créé les mesures. Il ne faut pas absolument pas utiliser la liste du système,
car celle-ci n'est pas triée.
#}

{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="mx-3 my-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet l'encodage rapide d'une fiche, contenant un relevé pour chacune des stations d'un système, et une valeur par paramètre par relevé.</p>

        {{form_start(form)}}

        {# Informations générales #}
        <div class="mb-3">
            <div class="row">
                <div class="col-md">
                    {# Date et heure de terrain #}
                    {{form_row(form.fieldDateTime)}}
                </div>
                <div class="col-md">
                    {# Code #}
                    {{form_row(form.code)}}
                </div>
                <div class="col-md">
                    {# Sélection de l'alarme #}
                    {{form_row(form.alarm)}}
                </div>
            </div>
        </div>

        {# Valeurs des mesures de contrôle #}
        {% if form.controls|length %}
            <div class="mb-3">
                <h2>Mesures de contrôle</h2>
                <p>Introduisez les éventuelles valeurs des mesures de contrôle qui ont été réalisées dans le cadre de ce relevé.</p>
                <table class="table table-borderless table-responsive table-sm" cellpadding="3">
                    <thead>
                        <tr>
                            <th width="200">&nbsp;</th>
                            {% for systemParameter in systemParameters %}
                                <th width="150" class="text-center" style="min-width: 100px">
                                    {# Nom du paramètre #}
                                    {{systemParameter.instrumentParameter.parameter.name}}
                                </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Unité</td>
                            {% for systemParameter in systemParameters %}
                                <td class="text-center">
                                    {# Unité du paramètre #}
                                    {{systemParameter.instrumentParameter.parameter.unit}}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Instrument</td>
                            {% for systemParameter in systemParameters %}
                                <td class="text-center">
                                    {# Nom de l'instrument #}
                                    {{systemParameter.instrumentParameter.instrument.code}}
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Valeur</td>
                            {{form_widget(form.controls)}}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {# Relevés aux stations #}
        {% if form.stationReadings|length and systemParameters|length %}
            <div class="mb-3">
                <h2>Mesures aux stations</h2>
                <p>Pour chaque station, introduisez les valeurs qui ont été mesurées. Décochez &laquo;&nbsp;S&nbsp;&raquo; lorsque la valeur était instable lors de la mesure, et/ou décochez &laquo;&nbsp;V&nbsp;&raquo; lorsque la valeur mesurée est hors gamme ou si l'instrument n'est pas en ordre d'étalonnage.</p>
                {# Tableau d'encodage des mesures avec en colonnes les paramètres, en lignes les relevés, et en cellules les mesures #}
                <table class="table table-borderless table-responsive table-sm" cellpadding="3">
                    <thead>
                        <colgroup colspan="1"></colgroup>
                        {% for systemParameter in systemParameters %}
                            <colgroup colspan="3" style="background-color: {{systemParameter.instrumentParameter.parameter.displayColor|default('')}}"></colgroup>
                        {% endfor %}
                        <tr>
                            <th width="200">&nbsp;</th>
                            {% for systemParameter in systemParameters %}
                                <th width="150" class="text-center" style="min-width: 100px">
                                    {# Nom du paramètre #}
                                    {{systemParameter.instrumentParameter.parameter.name}}
                                </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Unité</td>
                                {% for systemParameter in systemParameters %}
                                    <td class="text-center">
                                        {# Unité du paramètre #}
                                        {% if systemParameter.instrumentParameter.inputConversion is not null and conversions_enabled %}
                                            {# Avec conversion #}
                                            {{systemParameter.instrumentParameter.inputUnit}}
                                            {# Icône de conversion #}
                                            <i class="fas fa-square-root-alt" data-toggle="tooltip" data-placement="top" data-html="true" title="La valeur sera convertie automatiquement&nbsp;:<br>y={{systemParameter.instrumentParameter.inputConversion|default('x')}}"></i>
                                        {% else %}
                                            {# Avec conversion #}
                                            {{systemParameter.instrumentParameter.parameter.unit}}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Instrument</td>
                            {% for systemParameter in systemParameters %}
                                <td class="text-center">
                                    {# Nom de l'instrument #}
                                    {{systemParameter.instrumentParameter.instrument.code}}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Norme</td>
                            {% for systemParameter in systemParameters %}
                                <td class="text-center">
                                    {# Valeurs normatives #}
                                    {% if systemParameter.instrumentParameter.parameter.normativeMinimum is not null or systemParameter.instrumentParameter.parameter.normativeMaximum is not null %}
                                        {# Minimum normatif #}
                                        {% if systemParameter.instrumentParameter.parameter.normativeMinimum is null %}
                                            -&infin;
                                        {% else %}
                                            {{systemParameter.instrumentParameter.parameter.formatValue(systemParameter.instrumentParameter.parameter.normativeMinimum)}}
                                        {% endif %}
                                        -
                                        {# Maximum normatif #}
                                        {% if systemParameter.instrumentParameter.parameter.normativeMaximum is null %}
                                            &infin;
                                        {% else %}
                                            {{systemParameter.instrumentParameter.parameter.formatValue(systemParameter.instrumentParameter.parameter.normativeMaximum)}}
                                        {% endif %}
                                        {# Unité, après conversion éventuelle, du paramètre #}
                                        {{systemParameter.instrumentParameter.parameter.unit}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    {# Relevés #}
                    {{form_widget(form.stationReadings)}}
                    <tfoot>
                    </tfoot>
                </table>
            </div>

            {# Remarques de station #}
            <div class="mb-3">
                <h2>Remarques aux stations</h2>
                <p>Pour chaque station, introduisez la date et l'heure de la prise des mesures, ainsi qu'une éventuelle remarque..</p>
                <table class="table table-borderless table-responsive table-sm" cellpadding="3">
                    <thead>
                        <tr>
                            <th width="200">&nbsp;</th>
                            <th width="200">Date et heure</th>
                            <th width="800" style="min-width: 300px">Remarque</th>
                        </tr>
                    </thead>
                    {% for stationReading in form.children.stationReadings %}
                        <tbody>
                            <tr>
                                <td class="align-top">
                                    {{stationReading.vars.data.station.name}}
                                    <br>
                                    <small>
                                        <span class="badge badge-secondary">
                                            {{stationReading.vars.value.station.code}}
                                        </span>
                                        {{stationReading.vars.value.station.atlasCode}}
                                    </small>
                                </td>
                                <td width="100" class="align-top">
                                    {# Heure du relevé #}
                                    {{form_widget(stationReading.children.fieldDateTime)}}
                                </td>
                                <td>
                                    {# Remarque du relevé #}
                                    {{form_widget(stationReading.children.encodingNotes, {
                                        'attr' : {'rows': 2}
                                    })}}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {# Informations d'encodage #}
        {% if form.encodingNotes is defined %}
            <div class="mb-3">
                <h2>Encodage</h2>
                <p>Introduisez les éventuelles remarques générales du relevé.</p>
                <div class="row">
                    <div class="col-sm-3">
                        {{form_row(form.encodingDateTime)}}
                        {{form_row(form.encodingAuthor)}}
                    </div>
                    <div class="col-sm">
                        {{form_row(form.encodingNotes, {
                            'attr': {'rows': 4}})}}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Informations de validation #}
        {% if form.validationNotes is defined %}
            <div class="mb-3">
                <h2>Validation</h2>
                <p>Introduisez les éventuelles remarques générales de validation du relevé.</p>
                <div class="row">
                    <div class="col-sm-3">
                        {{form_row(form.validationDateTime)}}
                        {{form_row(form.validationAuthor)}}
                    </div>
                    <div class="col-sm">
                        {{form_row(form.validationNotes, {
                            'attr': {'rows': 4}})}}
                        {{form_row(form.validationStatus)}}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="mb-3">
            <h2>Pièces jointes</h2>
            <p>Les pièces sont vos notes manuscrites, des photos, ou tout autre document qui permet d'illustrer la fiche ou de compléter les remarques.</p>

            {# Nouvelles pièces jointes #}
            <div class="form-row">
                <div class="col">
                    {{form_row(form.newAttachments)}}
                </div>
                <div class="col-md text-secondary small">
                    <p><i class="fas fa-exclamation-triangle text-warning"></i>
                        Les nouvelles pièces jointes sont susceptibles de ne pas être sauvegardées s'il y a des erreurs dans le formulaire.</span>
                        Pour éviter ce problème, sauvegardez la fiche une première fois sans joindre de fichier, en corrigeant les erreurs éventuelles, puis modifiez la fiche en joingant les fichiers.
                    </p>
                </div>
            </div>
            {# Pièces jointes #}
            {{form_row(form.attachments)}}
        </div>

        {# Bouton permettant d'enregistrer le relevé #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le relevé
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {{breadcrumbs.displayBackButton}}

        {{form_end(form)}}
    </div>
{% endblock %}

{# Modèle d'une valeur de contrôle #}
{% block _system_reading_controls_entry_row %}
    <td>
        {{form_widget(form.value)}}
    </td>
{% endblock %}

{# Modèle d'un relevé #}
{% block _system_reading_stationReadings_entry_row %}
    <tbody id="{{id}}">
        <tr>
            {# Cellules statiques relatives à la station #}
            <td class="align-top">
                {{form.vars.value.station.name}}
                <br>
                <small>
                    <span class="badge badge-secondary">
                        {{form.vars.value.station.code}}
                    </span>
                    {{form.vars.value.station.atlasCode}}
                </small>
            </td>
            {# Mesures du relevé #}
            {{form_widget(form.measures)}}
        </tr>
    </tbody>
{% endblock %}

{# Modèle d'une mesure #}
{% block _system_reading_stationReadings_entry_measures_entry_row %}
    <td class="align-top">
        {# Inclure le widget de paramètre (caché) #}
        {{form_widget(form.measurability)}}
        {# Afficher le widget de valeur et l'éventuelle erreur #}
        {{form_errors(form.value)}}
        {{form_widget(form.value)}}
        {# Afficher la case à cocher de mesure stable #}
        {{form_widget(form.stable, {
            'label_attr': {
                'class': 'checkbox-inline',
                'style': 'color: lightgray',
            }
        })}}
        {# Afficher la case à cocher de mesure valide #}
        {{form_widget(form.valid, {
            'label_attr': {
                'class': 'checkbox-inline',
                'style': 'color: lightgray',
            }
        })}}
    </td>
{% endblock %}


{% block _system_reading_attachments_label %}
{% endblock %}

{% block _system_reading_attachments_entry_label %}
{% endblock %}

{% block _system_reading_attachments_entry_row %}
    <div class="form-row mb-2" id="{{id}}">
        <div class="col">
            {# Nom de la pièce jointe #}
            {{form_widget(form.name)}}
        </div>
        <div class="col-md-2">
            {# Auteur de chargement #}
            {{form_widget(form.uploadAuthor)}}
        </div>
        <div class="col-md-3">
            {# Date et heure de chargement #}
            {{form_widget(form.uploadDateTime)}}
        </div>
        <div class="col-md-3">
            {# Bouton pour supprimer la pièce jointe #}
            <button type="button" data-action="delete-attachment" data-target="#{{id}}" class="btn btn-danger float-right">
                <i class="fas fa-trash"></i>
                Supprimer cette pièce jointe
            </button>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        {# Propage la date et l'heure de terrain de la fiche sur les relevés pour lesquels ces informations ne sont pas encore complétées #}
        function propagateFieldDateTime()
        {
            $systemReadingDate = $('#system_reading_fieldDateTime').val();
            $('[id$="fieldDateTime_date"]').each(function() {
                $stationReadingDateControl = $(this);
                if ('' == $stationReadingDateControl.val()) {
                    $stationReadingDateControl.val($systemReadingDate);
                }
            });
            $('[id$="fieldDateTime_time"]').each(function() {
                $stationReadingTimeControl = $(this);
                if ('' == $stationReadingTimeControl.val()) {
                    $stationReadingTimeControl.val('00:00');
                }
            });
        }

        {# Programmer la propagation de la date et de l'heure de terrain lorsque l'utilisateur quitte le contrôle de date, ou lorsqu'il soumet le formulaire #}
        $('#system_reading_fieldDateTime').focusout(propagateFieldDateTime);
        $('button[type="submit"]').click(propagateFieldDateTime);

        {# Traiter les boutons de suppression de pièce jointe #}
        var attachmentsCollectionResponders =
            createCollectionResponders(
                '#system_reading_attachments',
                null,
                'button[data-action="delete-attachment"]',
                'Etes-vous sûr de vouloir supprimer cette pièce jointe ?'
            );
        attachmentsCollectionResponders();

        {# Activer les tooltips #}
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
