{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet l'encodage rapide des mesures pour toutes les stations d'un système, en leur attribuant la même date de terrain et les mêmes instruments de mesure. Avant de commencer à encoder des mesures, vérifiez ci-dessous si la liste des stations et la liste des paramètres sont complètes, et adaptez-les en cas de besoin&nbsp;!</p>

        {{form_start(form)}}

        {# Afficher les champs généraux #}
        <div class="alert bg-light">
            <div class="row">
                <div class="col-2">
                    {{form_row(form.fieldDateTime)}}
                </div>
                <div class="col-2">
                    {{form_row(form.code)}}
                </div>
                <div class="col">
                    {{form_row(form.alarm)}}
                </div>
                <div class="col-4">
                    <a href="{{path('system_station', {'code': system.code})}}" class="btn btn-primary btn-block">
                        <i class="fas fa-bullseye"></i>
                        Définir les stations du système
                    </a>
                    <a href="{{path('system_parameter', {'code': system.code})}}" class="btn btn-primary btn-block">
                        <i class="fas fa-asterisk"></i>
                        Définir les paramètres du système
                    </a>
                </div>
            </div>
        </div>

        {% if form.stationReadings|length == 0 %}
            <div class="alert alert-warning">
                Pour pouvoir encoder des mesures, vous devez d'abord assigner des stations et des paramètres au système.
            </div>
            {# Afficher les relevés de stations #}
            {{form_widget(form.stationReadings)}}
        {% else %}
            {# Afficher le tableau d'encodage des mesures avec en colonnes les paramètres, en lignes les stations, et en cellules les mesures #}
            <div class="alert bg-light">
                <table cellpadding="3" width="100%">
                    <thead>
                        <tr>
                            {# Afficher les en-têtes de station #}
                            <th width="20%">
                                Station
                            </th>
                            {# Afficher les en-têtes des paramètres, en faisant attention d'utiliser la liste ordonnée, consistante avec l'ordre dans lequel le contrôleur a créé les mesures (ne pas utiliser la liste du système car elle n'est pas triée) #}
                            {% for systemParameter in systemParameters %}
                                <td class="text-center">
                                    <strong>
                                        {{systemParameter.instrumentParameter.parameter.name}}
                                    </strong>
                                    <br>
                                    {# Afficher qu'une conversion d'unité sera réalisée #}
                                    {% if systemParameter.instrumentParameter.inputUnit %}
                                        [{{systemParameter.instrumentParameter.inputUnit}}]
                                    {% elseif systemParameter.instrumentParameter.parameter.unit %}
                                            [{{systemParameter.instrumentParameter.parameter.unit}}]
                                    {% endif %}
                                    {% if systemParameter.instrumentParameter.inputConversion is not null %}
                                        <i class="fas fa-square-root-alt" data-toggle="tooltip" data-placement="top" data-html="true" title="La valeur sera convertie automatiquement&nbsp;:<br>y={{systemParameter.instrumentParameter.inputConversion|default('x')}}"></i>
                                    {% endif %}
                                    <br>
                                    {{systemParameter.instrumentParameter.instrument.name}}
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    {# Afficher les relevés de stations #}
                    {{form_widget(form.stationReadings)}}
                    <tfoot>
                        <tr>
                            <td>
                                Valeurs normatives
                            </td>
                            {% for systemParameter in systemParameters %}
                                <td class="text-center">
                                    {{systemParameter.instrumentParameter.parameter.normativeMinimum}}
                                    -
                                    {{systemParameter.instrumentParameter.parameter.normativeMaximum}}
                                </td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
                <small class="text-muted">Introduisez <strong>toutes</strong> les valeurs qui ont été mesurées, en veillant à respecter l'unité du paramètre concerné. Complétez la valeur en décochant &laquo;&nbsp;S&nbsp;&raquo; si la valeur était instable lors de la mesure, et &laquo;&nbsp;V&nbsp;&raquo; si une valeur est hors gamme ou qu'elle vous paraît invalide.</small>
            </div>

            <div class="alert bg-light">
                <table cellpadding="3" width="100%">
                    <thead>
                        <tr>
                            <th width="20%">Station</th>
                            <th>Remarque</th>
                        </tr>
                    </thead>
                    {% for stationReading in form.children.stationReadings %}
                        <tbody>
                            <tr>
                                <td class="align-top">
                                    {{stationReading.vars.data.station.name}}
                                    <br>
                                    <small>
                                        <span class="badge badge-secondary">
                                            {{stationReading.vars.value.station.code}}
                                        </span>
                                        {{stationReading.vars.value.station.atlasCode}}
                                    </small>
                                </td>
                                <td>
                                    {{form_widget(stationReading.children.encodingNotes, {
                                        'attr' : {'rows': 1}
                                    })}}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {# Afficher les informations d'encodage #}
        {% if form.encodingNotes is defined %}
            <div class="alert bg-light">
                <div class="row">
                    <div class="col-3">
                        {{form_row(form.encodingDateTime)}}
                        {{form_row(form.encodingAuthor)}}
                    </div>
                    <div class="col">
                        {{form_row(form.encodingNotes, {
                            'attr': {'rows': 4}})}}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Afficher les informations de validation #}
        {% if form.validationNotes is defined %}
            <div class="alert bg-light">
                <div class="row">
                    <div class="col-3">
                        {{form_row(form.validationDateTime)}}
                        {{form_row(form.validationAuthor)}}
                    </div>
                    <div class="col">
                        {{form_row(form.validationNotes, {
                            'attr': {'rows': 4}})}}
                        {{form_row(form.validationStatus)}}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Bouton permettant d'enregistrer le relevé #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le relevé
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {% include '_back.html.twig' %}

        {{form_end(form)}}
    </div>
{% endblock %}

{# Modèle d'un relevé de station #}
{% block _system_reading_stationReadings_entry_row %}
    <tbody id="{{id}}">
        <tr>
            {# Afficher les cellules statiques relatives à la station #}
            <td class="align-top">
                {{form.vars.value.station.name}}
                <br>
                <small>
                    <span class="badge badge-secondary">
                        {{form.vars.value.station.code}}
                    </span>
                    {{form.vars.value.station.atlasCode}}
                </small>
            </td>

            {# Afficher les mesures du relevé de station #}
            {{form_widget(form.measures)}}
        </tr>
    </tbody>
{% endblock %}

{# Modèle d'une mesure #}
{% block _system_reading_stationReadings_entry_measures_entry_row %}
    <td class="align-top">
        {# Inclure le widget de paramètre (caché) #}
        {{form_widget(form.measurability)}}
        {# Afficher le widget de valeur et l'éventuelle erreur #}
        {{form_errors(form.value)}}
        {{form_widget(form.value)}}
        {# Afficher la case à cocher de mesure stable #}
        {{form_widget(form.stable, {
            'label_attr': {
                'class': 'checkbox-inline',
                'style': 'color: lightgray',
            }
        })}}
        {# Afficher la case à cocher de mesure valide #}
        {{form_widget(form.valid, {
            'label_attr': {
                'class': 'checkbox-inline',
                'style': 'color: lightgray',
            }
        })}}
    </td>
{% endblock %}

{% block javascripts %}
    <script>
        {# Activer les tooltips #}
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
