{% extends 'base.html.twig' %}

{% block title %}
    Fiches
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-3">Fiches</h1>

        <p>La liste ci-dessous énumère les fiches de tous les systèmes. Les fiches correspondent aux encodages réalisés de façon globale, à un moment donné, sur les différentes stations d'un système. Chaque fiche contient des relevés, chacun d'eux correspondant à une station et regroupant les mesures de celle-ci.</p>

        <table width="100%" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Date de terrain</th>
                    <th>Système</th>
                    <th>Date d'encodage</th>
                    <th>Auteur de l'encodage</th>
                    <th>Relevés</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for systemReading in pagination.data %}
                    <tr>
                        <td>
                            {% if is_granted('SYSTEM_CONTRIBUTOR', systemReading) %}
                                <a href="{{path('system_reading_show', {'code': systemReading.code})}}">
                                    <span class="badge badge-secondary">{{systemReading.code}}</span>
                                </a>
                            {% else %}
                                <span class="badge badge-secondary">{{systemReading.code}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {{systemReading.fieldDateTime|localizeddate('short', 'none')}}
                        </td>
                        <td>
                            {{systemReading.system.name}}
                        </td>
                        <td>
                            {{systemReading.encodingDateTime|localizeddate('short', 'none')}}
                        </td>
                        <td>
                            {{systemReading.encodingAuthor}}
                        </td>
                        <td>
                            {% if systemReading.stationReadings|length %}
                                <span class="badge badge-primary badge-pill">{{systemReading.stationReadings|length}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('SYSTEM_OBSERVER', systemReading) %}
                                <a href="{{path('system_reading_show', {'code': systemReading.code})}}">
                                    <i class="fas fa-eye"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('SYSTEM_CONTRIBUTOR', systemReading) %}
                                <a href="{{path('system_reading_edit', {'code': systemReading.code})}}"><i class="fas fa-edit text-primary"></i></a>
                            {% endif %}
                            {% if is_granted('SYSTEM_CONTRIBUTOR', systemReading) %}
                                <a href="{{path('system_reading_delete', {'code': systemReading.code})}}"><i class="fas fa-trash text-danger"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100">Il n'y a pas de relevés à afficher.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Afficher le composant de pagination #}
        {{pagination.display}}

        {# Bouton déroulant permettant d'encoder une fiche #}
        {% if is_granted('SYSTEM_CONTRIBUTOR') %}
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa class="fas fa-plus"></fa> Encoder une fiche
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                {% for system in systems %}
                    {% if is_granted('SYSTEM_CONTRIBUTOR', system) %}
                        <a class="dropdown-item" href="{{path('system_reading_encode', {'code': system.code})}}">{{system.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
