{% extends 'base.html.twig' %}

{% block title %}
    Relevé de système {{systemReading.code}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Relevé de système {{systemReading.code}}</h1>

        <div class="card mb-3">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-3">Système&nbsp;:</dt>
                    <dd class="col-9">{{systemReading.system.name}}</dd>
                    <dt class="col-3">Réalisé le&nbsp;:</dt>
                    <dd class="col-9">{{systemReading.fieldDateTime|date('d/m/Y H:i')}}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        Encodé le <strong>{{systemReading.encodingDateTime|date('d/m/Y H:i')}}</strong> par <strong>{{systemReading.encodingAuthor.displayName}}</strong>
                    </div>
                    <div class="card-body">
                        {% if systemReading.encodingNotes is not empty %}
                            {{systemReading.encodingNotes|nl2br}}
                        {% else %}
                            <em>Il n'y a pas de commentaire d'encodage.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if systemReading.validationStatus is not null %}
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            {% if systemReading.validationStatus is not null %}
                                {% if systemReading.validationStatus %}
                                    <i class="fas fa-flag-checkered text-success"></i>
                                    Validé
                                {% else %}
                                    <i class="fas fa-ban text-danger"></i>
                                    Invalidé
                                {% endif %}
                                le <strong>{{systemReading.validationDateTime|date('d/m/Y H:i')}}</strong> par <strong>{{systemReading.validationAuthor.displayName}}</strong>
                            {% else %}
                                Non validé
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if systemReading.validationStatus and (systemReading.validationNotes is not empty) %}
                                {{systemReading.validationNotes|nl2br}}
                            {% else %}
                                <em>Il n'y a pas de commentaire de validation.</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <h2>Relevés de stations</h2>

        <table width="100%" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Station</th>
                    <th>Réalisé le</th>
                    {% for parameter in parameters %}
                        <th style="text-align: center">
                            {{parameter.nameWithUnit}}
                        </th>
                    {% endfor %}
                    <th>Validé</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stationReading in systemReading.stationReadings %}
                    <tr>
                        <td>
                            <a href="{{path('reading_show', {'code': stationReading.code })}}">{{stationReading.code}}</a>
                        </td>
                        <td>
                            {{stationReading.station.name}}
                        </td>
                        <td>
                            {{stationReading.fieldDateTime|date('d/m/Y')}}
                        </td>
                        {% for parameter in parameters %}
                            <td style="text-align: right">
                                {% include 'reading/_measure_stat.html.twig' with {'stats': stationReading.valueStats(parameter)} %}
                            </td>
                        {% endfor %}
                        <td style="text-align:center">
                            {% include 'reading/_reading_state.html.twig' with {'validated': stationReading.validated} %}
                        </td>
                        <td>
                            {% if is_granted('SYSTEM_CONTRIBUTOR', stationReading) %}
                                <a href="{{path('reading_modify', {'code': stationReading.code})}}"><i class="fas fa-edit text-primary"></i></a>
                            {% endif %}
                            {% if is_granted('SYSTEM_MANAGER', stationReading) %}
                                <a href="{{path('reading_validate', {'code': stationReading.code})}}"><i class="fas fa-flag-checkered text-success"></i></a>
                            {% endif %}
                            {% if is_granted('SYSTEM_MANAGER', stationReading) %}
                                <a href="{{path('reading_delete', {'code': stationReading.code})}}"><i class="fas fa-trash text-danger"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100">Il n'y a pas de relevés de station.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Ajouter un bouton pour revenir à l'index #}
        <a href="{{path('system_reading')}}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Revenir à la liste
        </a>
    </div>
{% endblock %}
