{% set user = app.user %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{path('home')}}">Epu-Karst</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            {# Articles configurés pour apparaître dans le menu #}
            {% for post in topMenu.posts %}
                <li class="nav-item">
                    <a href="{{path('home_post', {'slug': post.slug})}}" class="nav-link">
                        {{post.title}}
                    </a>
                </li>
            {% endfor %}

            {# Eléments de menu "Systèmes" #}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarSystems" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Systèmes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSystems">
                    {% for system in topMenu.systems %}
                        {% if (system.name|slice(0,1) != '.') or is_granted('SYSTEM_OBSERVER', system) %}
                            <a class="dropdown-item" href="{{path('system_show', {'slug': system.slug})}}">{{system.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>

            {# Eléments de menu disponibles à tout utilisateur connecté #}
            {% if user %}
                <li class="nav-item">
                    <a href="{{path('system_reading')}}" class="nav-link">
                        Fiches
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{path('reading')}}" class="nav-link">
                        Relevés
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{path('alarm_index')}}" class="nav-link">
                        Alarmes
                    </a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_ADMIN') %}
                {# Menu déroulant de l'administration #}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="adminDropdownLink">
                        <i class="fas fa-cogs"></i>
                        Administration
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropdownLink">
                        <a href="{{path('system_list')}}" class="dropdown-item">
                            Systèmes
                        </a>
                        <div class="dropdown-divider">
                        </div>
                        <a href="{{path('alarm_kind')}}" class="dropdown-item">
                            Types d'alarmes
                        </a>
                        <a href="{{path('station_kind')}}" class="dropdown-item">
                            Types de stations
                        </a>
                        <div class="dropdown-divider">
                        </div>
                        <a href="{{path('instrument')}}" class="dropdown-item">
                            Instruments
                        </a>
                        <a href="{{path('parameter')}}" class="dropdown-item">
                            Paramètres
                        </a>
                        <div class="dropdown-divider">
                        </div>
                        <a href="{{path('user')}}" class="dropdown-item">
                            Utilisateurs
                        </a>
                        <div class="dropdown-divider">
                        </div>
                        <a href="{{path('post')}}" class="dropdown-item">
                            Articles du site
                        </a>
                    </div>
                </li>
            {% endif %}

            {% if user %}
                {# Menu déroulant de l'utilisateur #}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        {% if user.picture %}
                            <img src="{{user.picture}}" class="avatar avatar-mini" alt="Avatar de {{user.displayName}}"/>
                        {% else %}
                            <i class="fas fa-user"></i>
                        {% endif %}
                        {{user.displayName}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        {# Commande de changement de mot de passe #}
                        <a href="{{path('user_password', {'id': user.id})}}" class="dropdown-item">Votre mot de passe</a>
                        {# Séparateur #}
                        <div class="dropdown-divider"></div>
                        {# Commande de déconnexion #}
                        <a href="{{path('user_logout')}}" class="dropdown-item">Vous déconnecter</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{path('user_login')}}" class="nav-link">Vous connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
