{# Ce template définit une base commune pour les formulaires de création et de
modification d'article #}

{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        <p>Ce formulaire permet de définir un article à afficher dans la partie publique du site&nbsp;: soit sur la page d'accueil, soit sur la barre de menu principale, soit par le biais de l'article qui est indiqué comme parent, ces possibilités pouvant être combinées entre elles.</p>

        {{form_start(form)}}

        <div class="alert bg-light">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">{{form_row(form.title)}}</div>
                        <div class="col-4">{{form_row(form.slug)}}</div>
                    </div>
                    {{form_row(form.summary)}}
                    {{form_row(form.content)}}
                </div>
                <div class="col-3">
                    <h3>Localisation</h3>
                    {{form_row(form.topMenu)}}
                    {{form_row(form.home)}}
                    {{form_row(form.parent)}}
                    {{form_row(form.position)}}
                    <h3>Publication</h3>
                    {{form_row(form.author)}}
                    {{form_row(form.date)}}
                    {{form_row(form.publishFromDate)}}
                    {{form_row(form.publishToDate)}}
                </div>
            </div>
        </div>

        <div class="mb-3">
            {# Bouton permettant d'enregistrer l'article #}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                Enregistrer l'article
            </button>
            {# Bouton permettant de revenir à la page précédente #}
            {{breadcrumbs.displayBackButton}}
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}
