{# Ce template définit une base commune pour les formulaires de création et de
modification de paramètre #}

{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        {{form_start(form)}}

        <div class="row">
            <div class="col-md-3">
                {{form_row(form.name)}}
                {{form_row(form.unit)}}
                {{form_row(form.normativeMinimum)}}
                {{form_row(form.normativeMaximum)}}
                {{form_row(form.physicalMinimum)}}
                {{form_row(form.physicalMaximum)}}
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-4">
                        {{form_row(form.position)}}
                    </div>
                    <div class="col">
                        {{form_row(form.favorite)}}
                    </div>
                </div>
                {{form_row(form.title)}}
                {{form_row(form.introduction)}}
                {{form_row(form.description)}}
            </div>
        </div>

        {# Afficher un bouton permettant d'enregistrer le paramètre #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le paramètre
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {% include '_back.html.twig' %}

        {{form_end(form)}}
    </div>
{% endblock %}
