{# Ce template définit une base commune pour les formulaires de création et de
modification de paramètre #}

{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        {{form_start(form)}}

        <div class="row">
            <div class="col-3">
                {{form_row(form.name)}}
                {{form_row(form.unit)}}
                {{form_row(form.normativeMinimum)}}
                {{form_row(form.normativeMaximum)}}
                {{form_row(form.physicalMinimum)}}
                {{form_row(form.physicalMaximum)}}
            </div>
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Aperçu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="choices-tab" data-toggle="tab" href="#choices" role="tab" aria-controls="choices" aria-selected="false">Liste de choix</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                        <div class="alert">
                            <div class="row">
                                <div class="col-4">
                                    {# Choix de la position #}
                                    {{form_row(form.position)}}
                                </div>
                                <div class="col">
                                    {# Choix de favori #}
                                    {{form_row(form.favorite)}}
                                </div>
                            </div>
                            {# Saisie du titre #}
                            {{form_row(form.title)}}
                            {# Saisie de l'introduction #}
                            {{form_row(form.introduction)}}
                            {# Saisie de la description #}
                            {{form_row(form.description)}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="choices" role="tabpanel" aria-labelledby="choices-tab">
                        <div class="alert">
                            {# Collection des choix #}
                            {{form_row(form.choices)}}
                            {# Bouton permettant d'ajouter un choix #}
                            <button type="button" data-action="add-choice" class="btn btn-secondary">
                                <i class="fas fa-plus"></i>
                                Ajouter un choix
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Afficher un bouton permettant d'enregistrer le paramètre #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le paramètre
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {% include '_back.html.twig' %}

        {{form_end(form)}}
    </div>
{% endblock %}


{% block _parameter_choices_label %}
    <p><i class="fas fa-tags"></i> Si le paramètre possède un ensemble fini de valeurs possibles représentés par une étiquette, les préciser dans cette liste permettra de limiter les possibilités de saisie lors des encodages de mesures.</p>
    <p><i class="fas fa-chart-line"></i> Ne créez aucun choix si l'utilisateur doit pouvoir introduire une valeur numérique.</p>
{% endblock %}

{% block _parameter_choices_entry_row %}
    <div class="form-row my-2" id="{{id}}">
        <div class="col-auto">
            {{form_errors(form.value)}}
            {{form_widget(form.value)}}
        </div>
        <div class="col-auto">
            {{form_errors(form.label)}}
            {{form_widget(form.label)}}
        </div>
        <div class="col-auto">
            {# Bouton pour supprimer le choix #}
            <button type="button" data-action="delete-choice" data-target="#{{id}}" class="btn btn-danger float-right">
                <i class="fas fa-trash"></i>
                Supprimer ce choix
            </button>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        var choicesCollectionResponders =
            createCollectionResponders(
                '#parameter_choices',
                'button[data-action="add-choice"]',
                'button[data-action="delete-choice"]',
                'Etes-vous sûr de vouloir supprimer ce choix ?'
            );
        choicesCollectionResponders();
    </script>
{% endblock %}
