{% extends 'base.html.twig' %}

{% block title %}
    Paramètres étudiés
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Paramètres étudiés</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Dénomination</th>
                <th>Titre</th>
                <th class="text-center"><i class="fas fa-star"></i></th>
                <th class="text-center">Unité</th>
                <th class="text-center">Gamme normative</th>
                <th class="text-center">Gamme physique</th>
                <th class="text-center">Type</th>
                <th>Actions</th>
            </tr>
            {% for parameter in parameters %}
                <tr>
                    <td>{{parameter.name}}</td>
                    <td>{{parameter.title}}</td>
                    <td class="text-center">
                        {% if parameter.favorite %}
                            <i class="fas fa-star" style="color: goldenrod"></i>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td class="text-center">{{parameter.unit}}</td>
                    <td class="text-center">
                        {% if parameter.normativeMinimum is not null %}
                            {{parameter.normativeMinimum|number_format(1, ',', ' ')}}
                        {% endif %}
                        -
                        {% if parameter.normativeMaximum is not null %}
                            {{parameter.normativeMaximum|number_format(1, ',', ' ')}}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if parameter.physicalMinimum is not null %}
                            {{parameter.physicalMinimum|number_format(1, ',', ' ')}}
                        {% endif %}
                        -
                        {% if parameter.physicalMaximum is not null %}
                            {{parameter.physicalMaximum|number_format(1, ',', ' ')}}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if parameter.choices|length %}
                            <i class="fas fa-tags"></i>
                        {% else %}
                            <i class="fas fa-chart-line"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{path('parameter_modify', {'id': parameter.id})}}" class="text-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{path('parameter_delete', {'id': parameter.id})}}" class="text-danger" data-action="delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{path('parameter_create')}}" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Ajouter un paramètre
        </a>
    </div>
{% endblock %}
