{% extends 'base.html.twig' %}

{% block title %}
    Paramètres étudiés
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Paramètres étudiés</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Dénomination</th>
                <th>Titre</th>
                <th><i class="fas fa-star"></i></th>
                <th class="text-center">Unité</th>
                <th class="text-center">Gamme normative</th>
                <th class="text-center">Gamme physique</th>
                <th>Actions</th>
            </tr>
            {% for parameter in parameters|sort((a, b) => (a.name <=> b.name)) %}
                <tr>
                    <td>{{parameter.name}}</td>
                    <td>{{parameter.title}}</td>
                    <td>
                        {% if parameter.favorite %}
                            <i class="fas fa-star" style="color: goldenrod"></i>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td class="text-center">{{parameter.unit}}</td>
                    <td class="text-center">
                        {{parameter.normativeMinimum|number_format(1, ',', ' ')}} -
                        {{parameter.normativeMaximum|number_format(1, ',', ' ')}}
                    </td>
                    <td class="text-center">
                        {{parameter.physicalMinimum|number_format(1, ',', ' ')}} -
                        {{parameter.physicalMaximum|number_format(1, ',', ' ')}}
                    </td>
                    <td>
                        <a href="{{ path('parameter_modify', {'id': parameter.id}) }}" class="text-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('parameter_delete', {'id': parameter.id}) }}" class="text-danger" data-action="delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('parameter_create') }}" class="btn btn-primary">
            Ajouter un paramètre
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        /* Programme une demande de confirmation chaque fois que l'on clique
        sur un bouton de suppression de paramètre */
        $('a[data-action="delete"]').click(function() {
            return confirm("Etes-vous sûr de vouloir supprimer ce paramètre ?");
        });
    </script>
{% endblock %}
