{# Ce template définit une base commune pour les formulaires de création et de
modification de station #}

{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-3">
        <h1>{% block title %}{% endblock %}</h1>

        {{form_start(form)}}

        {{form_row(form.basin)}}
        {{form_row(form.code)}}
        {{form_row(form.name)}}
        {{form_row(form.kind)}}
        {{form_row(form.description)}}

        <div class="row">
            <div class="col">
                {# Bouton pour enregistrer la station #}
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i>
                    Enregistrer la station
                </button>

                {# Bouton pour revenir à l'index #}
                <a href="{{ path('station') }}" class="btn btn-cancel ml-3">
                    <i class="fas fa-backspace"></i>
                    Annuler
                </a>
            </div>
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}
