{% extends 'base.html.twig' %}

{% block title %}
    Stations d'observation
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Stations d'observation</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Code</th>
                <th>Dénomination</th>
                <th>AKWA</th>
                <th>Genre</th>
                <th>Bassin</th>
                <th>Système</th>
                <th>Relevés</th>
                <th>Actions</th>
            </tr>
            {% for station in pagination.data %}
                <tr>
                    <td>{{station.code}}</td>
                    <td>{{station.name}}</td>
                    <td>{{station.atlasCode}}</td>
                    <td>{{station.kind.name|default("")}}</td>
                    <td>{{station.basin.name}}</td>
                    <td>{{station.basin.system.name}}</td>
                    <td>
                        {% if station.readings|length %}
                            <span class="badge badge-primary badge-pill">
                                {{station.readings|length}}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('station_modify', {'code': station.code}) }}" class="text-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('station_delete', {'code': station.code}) }}" class="text-danger" data-action="delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {# Afficher le composant de pagination #}
        {{pagination.display}}

        <a href="{{ path('station_create') }}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Créer une station
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        /* Programme une demande de confirmation chaque fois que l'on clique
        sur un bouton de suppression de paramètre */
        $('a[data-action="delete"]').click(function() {
            return confirm("Etes-vous sûr de vouloir supprimer cette station ?");
        });
    </script>
{% endblock %}
