{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        {{form_start(form)}}

        {# Barre d'onglets #}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="identification-tab" data-toggle="tab" href="#identification" role="tab" aria-controls="identification" aria-selected="true">Identification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="false">Rôles</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            {# Panneau d'identification #}
            <div class="tab-pane fade show active" id="identification" role="tabpanel" aria-labelledby="identification-tab">
                <div class="alert">
                    <div class="form-row">
                        <div class="col">
                            {{form_row(form.firstName)}}
                        </div>
                        <div class="col">
                            {{form_row(form.lastName)}}
                        </div>
                    </div>
                    {{form_row(form.displayName)}}
                    <div class="row">
                        <div class="col">
                            {{form_row(form.email)}}
                        </div>
                        <div class="col">
                            {{form_row(form.phone)}}
                        </div>
                    </div>
                    {{form_row(form.organization)}}
                    {{form_row(form.description)}}
                    {{form_row(form.picture)}}
                </div>
            </div>
            {# Panneau des rôles #}
            <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
                <div class="alert">
                    <p>Accordez des permissions à l'utilisateur en lui attribuant des rôles&nbsp;:</p>
                    {{form_row(form.mainRole)}}
                    {{form_row(form.systemRoles)}}
                </div>
            </div>
        </div>

        {# Afficher un bouton permettant d'enregistrer l'utilisateur #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer l'utilisateur
        </button>
        {# Bouton permettant de revenir à la page précédente #}
        {% include '_back.html.twig' %}

        {{form_end(form)}}
    </div>
{% endblock %}

{% block _user_systemRoles_row %}
    {# Afficher l'ensemble des rôles d'utilisateur #}
    {{form_row(form)}}
    {# Afficher un bouton pour ajouter un rôle d'utilisateur #}
    <button type="button" data-action="add-userRole" class="btn btn-secondary">
        <i class="fas fa-plus"></i>
        Ajouter un rôle
    </button>
{% endblock %}

{% block _user_systemRoles_entry_label %}
    {# Ne pas afficher d'étiquette #}
{% endblock %}

{% block _user_systemRoles_entry_widget %}
    <div class="alert bg-light" id="{{id}}">
        <div class="row">
            <div class="col">
                {# Sélection du système #}
                {{form_row(form.system)}}
            </div>
            <div class="col">
                {# Sélection du rôle #}
                {{form_row(form.role)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Bouton permettant de supprimer le rôle #}
                <button type="button" data-action="delete-userRole" data-target="#{{id}}" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Supprimer ce rôle
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/collection.js"></script>
    <script>
        var systemRolesCollectionResponder =
            createCollectionResponders(
                '#user_systemRoles',
                'button[data-action="add-userRole"]',
                'button[data-action="delete-userRole"]'
            );
        systemRolesCollectionResponder();
    </script>
{% endblock %}
