{% extends 'base.html.twig' %}

{% block title %}
    Utilisateurs
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>Utilisateurs</h1>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Pseudonyme</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Organisation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination.data %}
                    <tr>
                        <td>
                            {{user.displayName}}
                        </td>
                        <td>
                            {{user.lastName}}
                        </td>
                        <td>
                            {{user.firstName}}
                        </td>
                        <td>
                            {{user.organization}}
                        </td>
                        <td>
                            <a href="{{path('user_modify', {'id': user.id})}}" class="text-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{path('user_password', {'id': user.id})}}" class="text-primary"><i class="fas fa-key"></i></a>
                            <a href="{{path('user_delete', {'id': user.id})}}" class="text-danger" data-action="delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100">
                            <em>Il n'y a pas encore d'utilisateurs.</em>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Afficher le contrôle de pagination #}
        {{pagination.display}}
    </div>
{% endblock %}
