{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h1>{{title}}</h1>

        {{form_start(form)}}

        <div class="alert bg-light">
            {{form_row(form.password)}}
        </div>

        {# Afficher un bouton permettant d'enregistrer la modification #}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer le mot de passe
        </button>

        {# Afficher un bouton permettant de revenir à l'index #}
        <a href="{{path('user')}}" class="btn btn-cancel">
            <i class="fas fa-backspace"></i>
            Retourner à la liste
        </a>

        {{form_end(form)}}
    </div>
{% endblock %}
